[2016-07-23 13:32] frankscholten opened #2 "Can't get info for image 'ubuntu': not found"
First of all: cool project! :+1:

I compiled the plugin, did a `terraform plan` which resulted in this output:

[code]

However when running `terraform apply` I got this error:

[code]

Any ideas?

[2016-07-24 04:26] sl1pm4t commented on #2
Thanks @frankscholten.

The README instructions assume that an OS image has previously been downloaded from the image server and cached locally, with the alias `ubuntu`, so the instructions could use some improvement.

i.e. You should be able to get past this error if you run the following command:
[code]
and then try the `terraform apply` again.

I'd like to enhance this plugin to add an `image`

[2016-07-26 03:28] #2 closed

[2016-12-02 19:47] jtopjian opened #6 "Provide Precompiled Releases"
@sl1pm4t Thoughts on this? I'm happy to attempt this, but just wanted your approval before I begin possibly making a bunch of Travis noise :)

[2016-12-04 01:01] sl1pm4t commented on #6
Yes, absolutely! Go for it @jtopjian !
What did you have in mind for binary storage? GitHub releases, Bintray or something else?

[2016-12-04 10:11] sl1pm4t opened #12 "Need LXD image datasource"
Similar to `aws_ami` datasource from Terraform.
I'm working on something, and have some initial code in `f-lxd-image-datasource` branch.
Will merge when finished.

[2016-12-04 15:45] jtopjian commented on #6
The only experience I have with building binaries so far is through Travis and GitHub releases. For the little I've used it, it works quite well. How about we start with that and move elsewhere if needed?

I'm thinking releases will be based on a tag rather than each commit?

[2016-12-08 15:16] jtopjian commented on #6
@sl1pm4t here's a working Travis file that builds Terraform plugin releases:

https://github.com/jtopjian/terraform-provisioner-makefile/blob/master/.travis.yml

I was going to mimic this but realized it requires an api key to this repo. IIRC, that's possible by running the `travis setup releases` command as seen [here](https://docs.travis-ci.com/user/deployment/releases/).

When you have time, wo

[2016-12-09 08:28] sl1pm4t commented on #6
Hi @jtopjian - thanks for this! Unfortunately I won't be able to set up the Travis secret until next week. I'm travelling for a few days and don't have a laptop with me.

[2016-12-09 14:55] jtopjian commented on #6
No rush at all! Safe travels!

[2016-12-12 03:22] jtopjian opened #21 "Thoughts on Profile/Container Configuration"
All LXD resources can take a set of key/value pairs for "configuration". LXD supports a large, though finite, amount of [configuration](https://github.com/lxc/lxd/blob/master/doc/configuration.md).

AFAICT, LXD allows _all_ configuration to be updated in real-time. I haven't made any of the `config` blocks able to be updated because, IMO, updating something like `limits.cpu` while a container is r

[2016-12-12 03:26] jtopjian opened #22 "Vendoring Dependencies?"
@sl1pm4t what are your thoughts on vendoring the dependent Go libraries? Most notably, `github.com/lxc/lxd`.

(btw: I realize I'm spending a lot of time working on this. I'm on holiday for the rest of the year and this is sort of a vacation project. I take zero offence if things sit idle for weeks :smile: )

[2016-12-13 04:49] sl1pm4t commented on #22
@jtopjian  Haha.. yeah you're making me feel bad for not working hard enough!
I'm particularly swamped at the moment, because I'm changing jobs soon and getting punished to finish some projects before I leave. :-)

In general, I think vendoring is a good idea. However, I'm not sure about vendoring *lxd* or *terraform*, because I think it's probably better to be aware if the builds are breaking aga

[2016-12-13 05:30] jtopjian commented on #22
This works for me, especially with Travis being able to run the acceptance tests.

I haven't come across any breaking LXD changes, though I've only been working with it for the past two weeks :)

[2016-12-13 05:30] #22 closed

[2016-12-13 09:38] sl1pm4t commented on #6
Travis yaml has been updated and the binary is uploaded to GH releases.

[2016-12-13 09:38] #6 closed

[2016-12-13 19:34] jtopjian commented on #6
Awesome!

[2016-12-20 17:24] jtopjian commented on #21
Revisiting this after a week or so, I'm leaning on the following:

* Allow updates to anything LXD wants to update. Discretion is left to the user.

  This is the easiest way to handle things since anything in `config` would just be updated. "User defined" keys would easily be handled here, too.

* Export a compiled collection of configuration (combining all profile configuration) into an exported

[2016-12-20 21:59] sl1pm4t commented on #21
In what cases are there computed container configuration items (you `environment.FOO` above)? Is that when profile config gets merged in?

My feeling at this stage is that, unless the configuration value alters the way Terraform needs to behave during CRUD operations, we should have a light touch and just proxy the users desires through to LXD - but I'll experiment a little to better understand so

[2016-12-20 23:48] jtopjian commented on #21
Exactly. I see this being useful primarily for provisioning and having access to the "user" and "environment" keys. For example `user.role = mysql` or a set of environment variables for some application.

This is my feeling as well.

[2016-12-23 20:57] jtopjian commented on #21
I've played around with a few variations of this and I'm kind of "meh" with the results.

A lot of times, internal container configuration as well as LXD server configuration (for example, server interface names) are mixed in with the compiled results. I'm don't think exposing that info is either useful or a good idea.

I think I'll take a step back from this for a while and see if I run into a si

[2017-01-03 09:00] BaldwinKoo opened #23 "Error when trying to compile binary"
[code]

[2017-01-04 05:05] jtopjian commented on #23
Can you check and see if you have the `github.com/lxc/lxd` library installed?

[code]

[2017-01-06 23:56] BaldwinKoo commented on #23
It is indeed installed with terraform 8.1. Currently just using the precompiled binary to test things out.

[2017-01-07 02:48] jtopjian commented on #23
How strange... I'm unable to reproduce this.

What command are you using to compile the binary? I'm doing:

[code]

[2017-01-08 06:49] shantanugadgil opened #24 "use the URL when remote is specified"
Hi,
I have a workflow where I have a bunch of containers on a remote lxd.
The remote LXD is a VM on a Proxmox Host.
The IP address of the remote lxd can change over time as it is assigned via DHCP.

I have a "data.external" in place which queries the VM HOST and gets the current IP address of the VM
and updates the local information of the lxc remote

**Example:**
[code]

I browsed through code an

[2017-01-10 05:54] BaldwinKoo commented on #23
Im using: `go get github.com/sl1pm4t/terraform-provider-lxd`

Tried it your way and I am getting the exact same error.

Also tried it in a new vagrant env and am getting the same error.

I am using Ubuntu 16.04.

[2017-01-10 06:05] jtopjian commented on #23
Ugh. Duh. I'm really sorry. I just updated the lxd library to the latest commit and I can reproduce this.

It looks like there have been some upstream changes in `github.com/lxc/lxd`... things got moved around.

For now, you can try the following:

[code]

That's what the latest binaries are built with.

We'll get this updated ASAP.

[2017-01-10 06:16] BaldwinKoo commented on #23
Yup that allowed me to compile the binary 👍

[2017-01-13 11:42] shantanugadgil commented on #24
<bump>

@sl1pm4t

[2017-01-21 18:00] brandonlamb commented on #23
👍 i got here from a little google searching. i would suggest adding the go commands and steps under an install section of the README, I had no idea how to install this or how the go stuff worked really. A mention of creating a `~/.terraformrc` with a provider block may help new users.

Great project btw, I'm using LXD on bare metal to spin up a few persistent containers using terraform and ansible

[2017-01-24 05:35] sl1pm4t commented on #23
Could you please elaborate on what you mean @brandonlamb ?

[2017-01-24 05:37] #23 closed

[2017-01-24 23:26] BaldwinKoo opened #26 "Setting static ip for each container?"
Was wondering if it was possible to set static ips for each lxd container using this lxd terraform provider?

[2017-01-28 07:42] jtopjian commented on #26
Yep:

[code]

[2017-01-31 05:38] BaldwinKoo commented on #26
Awesome, works perfectly. Thanks!

[2017-01-31 05:38] #26 closed

[2017-03-23 01:13] yobert commented on #24
@shantanugadgil I think the best way to fix this would be to use DNS. Is that possible?

[2017-03-23 01:27] yobert opened #27 "Handling multiple servers"
So we have a set of 4 identical LXD servers, all set up with unified networking. Is there a way to specify the remote per-container?

If I'm understanding the source right, you can't. So I'm thinking a way to solve this might be for me to add support for this type of configuration:
[code]

It could assume the remote name if only 1 was specified, so it would stay compatible.

[2017-03-23 01:36] jtopjian commented on #27
Terraform supports multiple providers of the same type:

https://www.terraform.io/docs/configuration/providers.html

Instead of specifying multiple remotes in one provider, try creating a separate provider for each remote and then using the `alias` keyword in the resources.

[2017-03-23 01:37] yobert commented on #27
Awesome! That's a much better solution! Thanks!

[2017-03-23 01:37] #27 closed

[2017-04-06 03:30] jtopjian opened #33 "email?"
@sl1pm4t if you have a chance, can you shoot me an email? My address is on my github page.

[2017-04-06 08:25] sl1pm4t commented on #33
Done

[2017-04-06 08:25] #33 closed

[2017-04-06 08:27] sl1pm4t commented on #24
Hi. Does the new provider changes in pr #30 help solve your use case?

[2017-04-16 01:22] sl1pm4t commented on #21
One area I'm starting to play around with, in relation to this, is the cloud-init config key:
* `user.user-data`

On the one hand there is no reason to extract this key as separate resource attribute, but on the other hand I feel it would be clearer if the `lxd_container` resource had an attribute like:

[code]

to make it more intuitive and similar to the `aws_instance` / `openstack_compute_insta

[2017-04-16 01:33] sl1pm4t commented on #2
BTW @frankscholten - I recent update to the provider means you can launch containers directly from the remote image servers, e.g.:

[code]

[2017-04-16 21:28] sl1pm4t commented on #21
I'm starting to see the benefits in general of extracting several of the config categories into separate resource attributes. It would allow us to better match the LXD config keys that can be updated realtime vs those that require restart / recreate.

Also, for the likes of `limits.` namespace, it would allow us to provide validation and early errors of invalid formatting.

[2017-04-26 04:00] shantanugadgil commented on #24
As of version 0.9.4, this works for me, thanks!

My lxd provider configuration is as follows:

[code]

Going ahead, I plan to retrieve the IP address of the remote using some sort of **data** source (or maybe external) but I am waiting for #12 to be done. 😀

Thanks and Regards,
Shantanu

[2017-04-26 04:00] #24 closed

[2017-04-26 04:19] shantanugadgil opened #46 "lxd_cached_image and remote name problem"
Hi,

The versions I am using are:
### terraform version
Terraform v0.9.3

### terraform-provider-lxd
0.9.4

I have three machines in this setup, for simplicity I'll call them
* driver (this will have remotes pointing to all the lxdhosts) Ubuntu 16.04.2
* lxdregistry (this only acts as an image source) Ubuntu 16.04.2
* lxdhost (over time I will have may lxdhosts) Ubuntu 16.04.2

My Terraform script

[2017-04-26 09:41] sl1pm4t commented on #46
Hi @shantanugadgil
Yes, this is a known issue. Currently the provider does not read the remotes configured in the lxc config, and therefore they cannot be referenced.
As mentioned in the README.md, the only LXD remotes that can be used currently are `images`, `ubuntu`, `ubuntu-daily` and the remote defined in the Provider.
I'm working on adding support in the provider to:
- read all the remotes de

[2017-04-30 17:44] jtopjian commented on #46
At first I didn't like the idea of having the provider be able to support multiple non-default remotes. However, it makes a lot of sense when you treat an LXD provider like an LXD client.

For the provider to support multiple remotes, I think it might be best to refactor the provider schema. Instead of:

[code]

something like:

[code]

[2017-05-01 01:37] sl1pm4t commented on #46
@jtopjian - this is pretty much what I have in mind. 👍

[2017-05-01 01:37] sl1pm4t commented on #46
I'll open a PR soon.

[2017-05-18 02:48] sl1pm4t commented on #46
@shantanugadgil not sure if you spotted release v0.9.5beta1 yet and had a chance to try it out?
It should resolve this issue.

[2017-05-18 12:35] shantanugadgil commented on #46
I did test this, but only briefly, haven't had time to thoroughly verify what is working and what is not.
I have three machines for testing from where I run Terraform:
1.  a vanilla CentOS 7 (no LXD installed)
2. CentOS 7 with LXD installed from (https://gist.github.com/AdamIsrael/e6b4a540233a7be6d28decd917b60c3d)
3. Ubuntu 16.04.2

In my brief testing, using the Ubuntu 16.04 as the "driver" machi

[2017-05-18 20:09] shantanugadgil commented on #46
Hi,
I have verified this to work from all three machines as "submitter" hosts.
The problem was that I was using a wrong password (for the lxdregistry block) on the newly setup CentOS machines.

On the Ubuntu 16.04 the lxdregistry certificate had been already accepted quite some time ago, and the wrong password was never triggering an error on the Ubuntu 16.04 machine.

The working setup which pull

[2017-05-18 21:31] sl1pm4t commented on #46
Great - thanks for the feedback @shantanugadgil.
Are we OK to close this issue now?

[2017-05-19 06:53] shantanugadgil commented on #46
Yes, certainly.

One thing to note though.
Somewhere in documentation it would be good to clarify that **one** of **remotes** in the **provider** block is going to be the **source** for the other machines.

I think this would be useful for folks already familiar with the concept of a docker registry!

Regards,
Shantanu

_👍 keep up the awesome work!_

[2017-05-19 06:53] #46 closed

[2017-05-22 18:20] shantanugadgil opened #48 "how to use lxd_remote name from provider using interpolation?"
I am using the following versions:
Terraform v0.9.5
terraform-provider-lxd: 0.9.5beta1

Using the sample shown in #46

[code]

How can I use the interpolated value of the "lxd_remote" from the "provider" block in my resource definition rather than using the actual text value?
Hypothetical example: use "${lxd.lxd_remote.lxdregistry}"  instead "lxdregistry"

This is so that I don't need to find-and-

[2017-05-28 17:51] shantanugadgil commented on #48
Answering my own question; I have solved it using Terraform variables, using "${var.remote_name}" as my target and remote

[2017-05-28 17:51] #48 closed

[2017-05-28 18:05] shantanugadgil opened #49 "'Monitor in hung' when creating a large batch of LXD container"
Hi,

The following is not as much a bug report, but more of an observation; for other folks who might try using this.

If I try creating a batch of LXD together (14+), then a few containers (usually 2 or 3) go into a non-recoverable state.

[code]

Just running apply again doesn't work, it says "container already exists".

My workaround "fix" involves manually deleting the lxd on the target side a

[2017-05-28 20:10] sl1pm4t commented on #49
Interesting, thanks.
It might be a good test to try tweak the Terraform parallelisation arg to a lower value.

[2017-05-29 09:28] shantanugadgil commented on #49
OK. Thanks. I'll try it out:
Ref: https://www.terraform.io/docs/commands/apply.html#parallelism-n

[2017-06-04 06:33] shantanugadgil commented on #49
@sl1pm4t this works with reduced parallelism.
In my tests, a parallelism of 4-5 worked fine.
Maybe we can add a note in the docs?

Thanks and Regards,
Shantanu

[2017-06-04 06:33] #49 closed

[2017-06-04 06:49] shantanugadgil opened #50 "changing config values of lxd_container destroys and creates the container"
I am using the following versions:
Terraform v0.9.6
terraform-provider-lxd v0.9.5beta1

Changing the config values of an **lxd_container** resources causes the **lxd_container** to be destroyed and re-created while that is actually not needed.
I can perform the same changes using the lxc command line without having to recreate the lxd container.
Example:
[code]

Regards,
Shantanu

[2017-06-04 22:15] jtopjian commented on #50
@shantanugadgil Please see https://github.com/sl1pm4t/terraform-provider-lxd/issues/21 for more information about this.

This is a very relative topic. What if an application running in the container crashed upon detecting the CPU count changed?

Since this topic is already being discussed in #21, I'm going to close this issue.

[2017-06-04 22:15] #50 closed

[2017-06-05 04:24] shantanugadgil commented on #21
I am using TF v 0.9.6 and lxd provider 0.9.5beta1

I am _all_ for allowing dynamic updates of things which LXD allows. (Example limits.cpu, user.custom.key)
Whether the software inside the LXD can/cannot handle such changes should be left up to the user.

I do have a real use case where I may need to re-balance the CPU/Memory of running LXDs without recreating them. (they are performing long-runni

[2017-06-06 16:59] shantanugadgil opened #52 "lxd_container resource does not honor "triggers""
Terraform version: Terraform v0.9.6
terraform-provider-lxd: 0.9.5 beta1

[code]

The relevant part of my resource definition:

[code]

Regards,
Shantanu

[2017-06-06 17:04] jtopjian commented on #52
@shantanugadgil "triggers" are not a core Terraform feature. Some resources implement a schema attribute called "triggers" that is used to only detect changes:

https://github.com/hashicorp/terraform/blob/master/builtin/providers/null/resource.go

Another example of this is "keepers":

https://github.com/hashicorp/terraform/blob/master/builtin/providers/random/resource_id.go

[2017-06-06 17:07] shantanugadgil opened #53 "high CPU consumption when using file block"
Terraform version: Terraform v0.9.6
terraform-provider-lxd: 0.9.5 beta1

I tried to deploy a binary file (~ 17MB) using the following **file** block inside an **lxd_container**
[code]

When I do "terraform plan" the terraform process can be seen using all the CPU; ~150% CPU on my two core machine.

This stays at high CPU for quite a few minutes and eventually freezes the machine.

My current worka

[2017-06-06 17:20] shantanugadgil opened #54 "how to perform "remote-exec", but inside the LXD"
Terraform version: Terraform v0.9.6
terraform-provider-lxd: 0.9.5 beta1

As part of the LXD creation, I push some config files and a service startup script (upstart)
These cannot be baked into the LXD image.

It would be quite useful if I could target command execution directly inside the LXD container.

For now, I am making do with a "remote-exec" on the LXD server and do:
```lxd exec mylxd1 -- t

[2017-06-06 17:37] shantanugadgil commented on #52
Hi @jtopjian thanks for the explanation.
I have **file** blocks inside the **lxd_container** which detect file changes, so that  solves _most_ of my need.

There is a last bit, where I need to restart a service inside the LXD when a file (and service) on the LXD host changes and restart.

Two different issues; maybe I'll try solve some other way.

I guess this issue can be closed then? Thanks!

[2017-06-06 17:43] jtopjian commented on #52
Yeah, I would recommend looking into a `null_resource` for that type of management. A `null_resource` is an empty resource which can be used to house different provisioners and triggers.

Most other managed resources have the ability to have a `remote-exec` provisioner used, but since that's not possible with LXD containers, using a `local-exec` bundled inside a `null_resource` might be a good sol

[2017-06-06 17:43] #52 closed

[2017-06-06 17:46] shantanugadgil opened #55 "adding local-exec section doesn't cause a change in lxd_container"
Terraform version: Terraform v0.9.6
terraform-provider-lxd: 0.9.5 beta1

I have an **lxd_container** which has been successfully "applied".

I added the following block inside an **lxd_container**.
[code]

Now, when I execute "terraform plan", nothing happens. Terraform says:

Not sure if this is a behavior due to TF or something to do with **terraform-provider-lxd**.

Thanks and Regards,
Shantanu

[2017-06-06 17:53] jtopjian commented on #55
This is specific to Terraform. A provisioner is only run upon creation. It can optionally be run upon destruction if you specify `when = destroy`.

Using a `null_resource` with a trigger is probably the best way to go here.

This might be a helpful tip for designing: the fact that Terraform provisioners only run on creation and destruction point toward Terraform not being a full-fledged management

[2017-06-06 17:53] #55 closed

[2017-06-06 18:18] sl1pm4t commented on #54
@jtopjian and I have discussed this a little in the past.
To get the native `remote-exec` working via the LXD websocket exec channel we'd need to add some code to Terraform core (which that project may or may not be willing to accept, but is extremely unlikely while this provider is a separate project).

@jtopjian had floated the idea of a `lxd_remote_exec` pseudo resource as a workaround in the m

[2017-06-06 18:27] shantanugadgil commented on #54
+1 for `lxd_remote_exec` from side.
I already have a setup where I could test this.

[2017-06-06 19:19] shantanugadgil opened #57 "separate 'mode' into 'file_mode' and 'dir_mode' for file block?"
Hi,
Would it be possible to separate the mode parameter into 'dir_mode' and 'file_mode'?

The use case is that typically one needs to create directories (sub-directories) as **0755** and the file with mode **0644** (or maybe 0600)

If I set the **mode** to **0600**, it gets applied for even the directories and sub-directories, thus making the file inaccessible for non-root users inside the lxd_con

[2017-06-07 15:16] jtopjian commented on #57
The way `file` is implemented is exactly how the `lxc` command-line file copy action is implemented. So even if you use the command-line, it'll still create the directories with those permissions.

I agree that it can be awkward. I think the reason for this implementation is for two reasons:

1. It's simple
2. It shouldn't be mistaken as a provisioning tool.

The way I saw `file` used is to copy a

[2017-06-07 15:40] shantanugadgil commented on #57
OK. I get what you're saying; it is mimicking `lxc file push`

[code]

Indeed, I am looking at the "file" block as a mini-provisioning feature.
I think it satisfies my use case quite well already.
_The idea for the dir_mode and file_mode coming from my current usage of SaltStack, which I don't want to push inside my LXD containers._

The problem is this:
1. create a container
2. create directory i

[2017-06-07 16:50] jtopjian commented on #57
Thinking out loud: what if you used a tool like [lxdfile](https://github.com/hverr/lxdfile) or [lxb](https://github.com/maryvilledev/lxb) to prepare images with this pre-provisioning already done?

There's not, no. Not unless you build an image with your files/directories already existing or use the `file` block to deploy a shell script then trigger it with a `local-exec`.

[2017-06-08 04:35] shantanugadgil commented on #57
Nice to know about lxdfile and lxb 👍
I have already automated most of the bits where I create an LXD image with the packages required for my software (and the software itself).
Going one step further, I could even push the upstart scripts into the image (as their functionality stabilizes)
_the only reason they are outside is because the upstart scripts are still being developed._

I cannot bake in

[2017-06-08 04:35] #57 closed

[2017-06-09 04:07] mattwillsher opened #59 "MacOS: lxc provider not set when default provider set out of band"
I'm running the provider on MacOS. terraform-provider-lxd and terraform are built from source.

lxc is configured out of band, with the lxc 2.14 client. A default remote is set. terraform-provider-lxd says a remote provider is not set.

Running `lxc launch ubuntu:16.04 u1` via the lxc command line works without problem.

Setting remote on the lxd_container block resolves this, as does defining a l

[2017-06-09 04:10] jtopjian commented on #59
@sl1pm4t I think this is a bug. Even though `lxd_remote` is set to remote, the required `name` is triggering the error.

@mattwillsher For now, if you define an explicit `lxd_remote` in the `provider`, it should work for you.

[2017-06-09 04:19] mattwillsher opened #60 "MacOS: default profile not used creating a container"
Running on MacOS, if profiles is not set in an lxd_container block, creating a new containers fails.

Running lxc form the command line works.

lxd is 2.14 on the server with 2.14 client.

Fails :
[code]

[code]

Works:
[code]

[code]

[2017-06-09 04:20] mattwillsher commented on #59
Yes, it works fine with lxd_remote set.

[2017-06-09 05:20] sl1pm4t commented on #59
Thanks for the detailed bug report @mattwilsher.
I'll take a look.

[2017-06-10 11:00] #59 closed

[2017-06-10 11:09] sl1pm4t commented on #60
Fixed by #62. Closing.

[2017-06-10 11:09] #60 closed

[2017-06-10 11:09] #12 closed

[2017-06-11 17:24] shantanugadgil opened #66 "[feature request] ability to create already deleted file"
During my experiments, I forgot to tune down `parallelism` to a good working value, and ended up with a mixed-up state.

The file "data.cfg" never got created the first time round.

To make TF recreate the file, I changed the order of the file blocks inside the `lxd_container`.
It detects the change alright, but errors out with the following

[code]

Would there be any way to taint the `file` bloc

[2017-06-11 21:57] jtopjian commented on #66
Both options might be possible. I'll look into them this week.

[2017-06-14 17:23] shantanugadgil commented on #12
@sl1pm4t Wondering why you closed this? 😢
I was sort of looking forward to this.
My use case is that I want to know the IP address of eth0 of a particular LXD container, so that I can copy a config file into it (with the IP address as part of the config file).

Regards,
Shantanu

[2017-06-15 01:34] jtopjian commented on #66
Just a quick update: I'm going to wait until #64 is resolved before working on this to prevent too many modifications in one area at the same time.

[2017-06-18 04:48] shantanugadgil commented on #66
Thanks @jtopjian
@sl1pm4t  Any chances of a new release build from master after merging the few PRs still not in master?

Thanks and Regards,
Shantanu

[2017-06-24 02:58] jfgibbins opened #67 "changes to file order"
As a suggestion, place lines 202-209 of resource_lxd_container.go to line 180 so that files are copied before container starts.  This will allow, among other things, placing files, such as rt_tables, and if-up.d files in place before networking kicks in.  Already changed my local copy.  If I was more familiar with git, I'd push/pull whatever for you to merge in.

[2017-06-24 12:28] shantanugadgil commented on #67
if the change is small enough, you can just make online (in the webbrowser); github's online file editor will lead you through the steps. 😄

otherwise:
fork the repo into your github account (so you have write access (push right) to it)
pull from your account onto your disk
make local changes; commit files (s), then push the file(s) back to your on github account
create pull request from your gith

[2017-06-25 19:54] jfgibbins opened #69 "uid/gid mapping issues in file block"
When adding a file with uid/gid, file push does not take into account idmap.  For example with following:
    lxc.id_map =
    lxc.id_map = u 0 100000 200
    lxc.id_map = g 0 100000 200
    lxc.id_map = u 200 200 1800
    lxc.id_map = g 200 200 1800
    lxc.id_map = u 2000 102000 63536
    lxc.id_map = g 2000 102000 63536

if you push a file with uid:gid as 0:0, file pushes correctly, shows up on

[2017-06-26 04:56] jtopjian commented on #69
@jfgibbins Thanks for reporting this. I'm not sure if this was an oversight or if it's related to a bunch of [new changes](https://github.com/lxc/lxd/commit/aed82f789992db52d76b27ff04c0dfc3585099bc) that were recently made.

I'll look into this and have it match the functionality of the lxc client.

[2017-06-26 05:13] jtopjian commented on #69
@jfgibbins Actually, I just did a quick test to verify and either I'm unable to reproduce the problem or I'm not understanding the problem.

If I do this:

[code]

I see this on the _host_:

[code]

And this on the _container_:

[code]

Now, if I do the following in Terraform:

[code]

I see the same results.

host:

[code]

container:

[code]

So in both cases, the uid/gid from the host to the gu

[2017-06-26 13:56] jfgibbins commented on #69
Did you include an lxc.id_map in your test?  I didn't see that in your example, and in such a case, I've had it work just fine in all cases too, but not when there are IDs that are mapped different relative to the root.

[2017-06-26 21:12] stgraber opened #70 "Port to the new LXD client package"
Hey there,

We've recently implemented a new LXD client package an are phasing out our old one (client.go).
LXD itself has now been entirely ported onto the new client code and we're planning on completely removing the old one from the tree with LXD 2.16.

The new client package comes with what should be a future proof API design where feature additions won't cause existing users to break and need

[2017-06-26 21:13] sl1pm4t commented on #70
Thanks for the heads up @stgraber - I'll take a look!

[2017-06-26 21:18] stgraber commented on #70
The basics to get you started are:
 - Replace "github.com/lxc/lxd" by "github.com/lxc/lxd/client"
 - Add an import for 'lxd_config "github.com/lxc/lxd/lxc/config"'
 - Replace all "*lxd.Client" by "lxd.ContainerServer"
 - Replace all "lxd.Config" by "lxd_config.Config"
 - Replace NewClient(config, name) by config.GetContainerServer(name)

That should get you to the more interesting part of replacin

[2017-06-26 21:21] jtopjian commented on #70
@stgraber Echoing Matt, thank you for the heads up. Seriously - very cool that you proactively reached out to let us know of the changes :)

[2017-06-27 12:38] jfgibbins commented on #70
Hi @stgraber, glad to see you popped over here to take a look.  I thought you might appreciate the work they've been doing.

[2017-07-17 00:53] #70 closed

[2017-07-19 03:43] rhass opened #75 "Loopback storage pools flap in configuration"
Issue Details
==========
When creating a ZFS pool which uses a loopback file, the initial creation fails when `source` is defined.

[code]

However, subsequent terraform runs fail when the`source` key/value is not present in the config with the error:
[code]

Example Resource which succeeds for initializing a new pool, but later attempts to modify a the pool when making changes:
[code]

Environmen

[2017-07-19 03:46] jtopjian commented on #75
@rhass Thank you for reporting this. Would you be able to provide the exact steps to reproduce this, including creation of the loopback file as well as the Terraform configuration which uses the `source` argument?

[2017-07-19 03:52] rhass commented on #75
@jtopjian No problem! I should be able to sanitize a couple sensative resources and put up my terraform, a chef cookbook to create a VM to run all this, and some detailed steps to reproduce -- but it will take me a little time to get it all together.

Since it is getting a little late, I will try to get back to you after tomorrow or possibly later in the week.

Thanks!

[2017-07-19 03:53] jtopjian commented on #75
@rhass No problem at all - take your time.

I just want to make sure I can easily reproduce the problem so I can get it fixed faster :smile:

[2017-07-19 04:28] jtopjian commented on #69
@jfgibbins I apologize for being dense and possibly doing something wrong, but I'm unable to even launch a container with the mappings you've provided. Here's what I'm trying:

[code]

and I get the following error:

[code]

If I change my id_map to this, the container can start:

[code]

So, I destroyed the above and created a new container with the following:

[code]

And I can see:

[code]

And

[2017-07-19 06:37] shantanugadgil opened #78 "need of a 'make deps' in the Makefile"
@sl1pm4t  @jtopjian

Today when I just did a "git pull && make dev", it failed with an unknown "lxd.Server" in the file "lxd/provider.go".

I realized that I should have done a "git pull" on the dependent packages. (in this case "github.com/lxc/lxd")

_Opening an issue here instead of a PR, as I am not familiar which is the best Golang way to do a "go get" and "git pull" for all dependent packages

[2017-07-19 12:34] jfgibbins commented on #69
I'm half-asleep myself right now, so let me get my cappuccino in me, and I'll take a look at it and write up a copy/paste lxc profile and terraform config you can use.   I'll also pull the most recent terraform and compile, as I know you guys have been doing a lot of work, since @stgraber popped in and talked about the lxc client after I mentioned your project on the lxc/lxd project.

[2017-07-19 14:49] jtopjian commented on #78
I haven't come across a `Makefile` which will update git repos of dependent libraries. Any time I've run into this situation, it's been the same as what you saw: the code doesn't compile so I do a manual `git pull` on the dependent library.

[2017-07-19 15:01] shantanugadgil commented on #78
Yes, I did see Makefiles from other projects like Nomad, Consul, gobetween, etc. and so wasn't sure what's the "right" way! 😄

If there is no _specific_ way, just a comment in the Makefile would do for now, I guess. 🤷‍♂️

[2017-07-19 15:11] jtopjian commented on #78
gobetween does something I would consider to be unique. It's using vendoring _per-se_, but using a `Makefile` to build the vendor directory. It's the only project I've seen do that.

The HashiCorp projects all use a full-fledged vendor tool to build the `vendor` directory.

This project doesn't use vendoring at all. Matt and I had a discussion about this in the past. The idea is to not vendor the

[2017-07-19 15:19] jtopjian commented on #67
Fixed by #76

[2017-07-19 15:19] #67 closed

[2017-07-19 15:36] jtopjian commented on #78
To clarify: The `Makefile`s I have seen will run "vendor" commands (`govendor`, `godep`, etc) to update the project's `vendor` directory.

I haven't come across a `Makefile` which will do this:

[code]

For the Go projects that I am familiar with, if the project does not use a vendor tool, it is up to the dev/user to manually `git pull` all required dependencies. This should be documented, though.

[2017-07-19 15:39] shantanugadgil commented on #78
Yes, that's exactly what I had in mind. The "cd and git pull" can be either a comment or an "echo" during the build.
It would definitely help newbies like me!

Regards,
Shantanu

[2017-07-19 19:10] sl1pm4t commented on #78
Would 'go get -u -v ./...' have helped in scenario?

[2017-07-19 19:16] shantanugadgil commented on #78
Not a Go expert, but what I have observed is `go get -u -v` doesn't do an update, only checks out if absent, right?

I feel doing a `cd` to the appropriate directory and doing a `git pull` is the right thing to do, rather than checking out all deps in the current directory.

I just dunno how to make it automatic! 😄

[2017-07-19 19:20] sl1pm4t commented on #78
From `go get` help page:
[code]

I think you're right though @shantanugadgil, we could use some more info on how to build it from source.

[2017-07-20 04:31] jtopjian commented on #66
This should be fixed in #77

If an error occurs during creation before the file was uploaded, the file should be uploaded upon doing another apply.

[2017-07-20 04:31] #66 closed

[2017-07-20 15:11] shantanugadgil opened #79 "[0.10.0-beta2] /root/.config/lxc/config.yml missing"
**terraform version**
Terraform v0.9.11

**terraform-provider-lxd version**
0.10.0-beta2
(https://github.com/sl1pm4t/terraform-provider-lxd/releases/download/v0.10.0-beta2/terraform-provider-lxd_v0.10.0-beta2_linux_amd64.tar.gz)

**OS Details**
CentOS Linux release 7.3.1611  (with latest updates)

On my existing setup, I replaced the old provider plugin and ran `# terraform plan`

I got the follow

[2017-07-21 01:04] rhass commented on #75
I am not sure what your comfort level is with Chef & Test-Kitchen -- so I will try to be as detailed as possible, but feel free to @ mention me you get stuck somewhere in all this or I managed to skip a step.
Also, sorry for the pre-requisites.

1. [Download and Install VirtualBox](https://www.virtualbox.org/wiki/Downloads) -- You can skip this if you already have it installed.
2. [Download and in

[2017-07-21 02:45] jtopjian commented on #79
I can confirm this.

It looks like [this](https://github.com/lxc/lxd/blob/342a991e0e6e789d22b1f3b692e70b7ad818605c/config.go#L88) is the `LoadConfig` to use, but [this](https://github.com/lxc/lxd/blob/83ee3e9a46de9bc3ef9804a4a04c7ae3d7211fda/lxc/config/file.go#L16) one is being used instead.

There's a chain of changes that are triggered once making that change. Not sure the best way to handle tho

[2017-07-21 03:00] jtopjian commented on #79
This should do it:

[code]

[2017-07-21 03:32] jtopjian commented on #75
@rhass Thank you for providing all of this! I'm familiar with Test Kitchen, but I think I was able to set up everything similarly without it.

For historical reference in this issue: it's just a default environment created with zfs installed and `lxd init` run.

The good news is that you're seeing a core LXD error, not a Terraform error:

https://github.com/lxc/lxd/blob/b97cfd95e7a9458f7f3cc1d7732

[2017-07-21 07:03] #78 closed

[2017-07-21 16:42] rhass commented on #75
@jtopjian Omitting the property does work, but only the first time I run `terraform apply`. The issue really is that when I omit the `source` property, the successive `terraform apply` throws `the "source" property cannot be changed`. I suspect this means that we are not capturing the the specific property value in the tfstate when the pool is initially created, so on a successive run it tries to

[2017-07-21 17:40] jtopjian commented on #75
@rhass Yes, you are correct. LXD is sometimes omitting previously-set config options as well as sometimes changing the values of previously-set options. This is causing Terraform to re-send the config options, thus triggering the error.

I've opened #81 to "fix" this. It's not the best fix, but it'll do at the moment. A better long-term solution would be to create Terraform attributes for all [sto

[2017-07-21 21:11] sl1pm4t commented on #79
Fixed by #80

[2017-07-21 21:11] #79 closed

[2017-07-22 00:51] jtopjian commented on #75
@rhass This should now be fixed. Thank you again for reporting it! Let me know if you have any questions.

[2017-07-22 00:51] #75 closed

[2017-07-22 00:56] rhass commented on #75
Thanks!

[2017-08-23 18:57] shantanugadgil opened #82 "file writes the sha1sum of the 'content' instead of the actual contents into the file"
Versions:
Submit Host: CentOS 7.3
Terraform: 0.10.2
terraform-provider-lxd: latest master built from sources
LXD Host: Ubuntu 16.04 + LXD 2.16 from xenial backports

Recently I have restarted by Terraform+LXD experiments with the latest versions and hit the following issue:

Many a times the contents of the file are the `sha1sum` of the content string rather than the content itself.

For the follo

[2017-08-23 19:02] jtopjian commented on #82
Yeah, that's _really_ bizarre behavior! Let me know if this issue goes away if you set `parallelism=1`.

[2017-08-24 04:45] jfgibbins opened #83 "Count"
Would be really nice to have a count so that I can spin up multiple with one resource, rather than having to create multiple that would each need editing if a change is needed.  Thanks

[2017-08-24 05:03] jtopjian commented on #83
@jfgibbins are you talking about being able to specify:

[code]

?

If so, this is supported. `count` is a core feature of Terraform.

Are you having trouble using it or running into an error?

[2017-08-24 12:33] jfgibbins commented on #83
Didn't seem to work when I tried it.  Was thinking it maybe it had to be written in each provider.  But, then, I was attempting it on device, in an attempt to use a type map to pass multiple devices to the resource.  Let me give it another try today on just the lxd_container resource itself.

[2017-08-24 19:36] shantanugadgil commented on #82
Hi @jtopjian , I have conducted my experiments during the day about 6-7 times now using `parallelism=1`.
I haven't hit an issue so far.

At first, I too thought that there was a random corruption, but then when I noticed that the strings were always fixed length, it led me to the sha1sum.
And then _that_ made a little bit more sense than it being a random corruption.

Thanks and Regards,
Shantanu

[2017-08-25 13:41] jfgibbins commented on #83
I"m going to close this.  It's not a problem with your provider, but from severe flaws and limitations in terraform itself.

[2017-08-25 13:41] #83 closed

[2017-08-26 11:11] shantanugadgil commented on #82
Hi @jtopjian any thoughts why this would be happening when parallelism is **not** set to 1?

[2017-08-27 17:14] jfgibbins commented on #83
I think what I was trying to do was apply count to devices, but that's not a resource, hence terraform hasn't a clue what to do.  My attempt was to create a module and pass parameters, counts, rather than writing a resource for each individual container.  Issue I was hitting was a variable amount of devices per container, and was trying to use count and length of type map.

[2017-08-27 17:37] jtopjian commented on #83
Ah, I understand.

When you want to relate an arbitrary amount of options to a resource, that's usually an indication of the options in question now needing to be its own resource. In your case, it would probably work best if there was a dedicated `lxd_device` resource.

If you can provide a sketch / idea of what you were trying to do, we can see if it makes sense to make an `lxd_device` resource.

[2017-08-27 17:53] jfgibbins commented on #83
Well, might as well list out the entire process, to give you an idea of what I'm doing.  Perhaps you'll see something better.  Currently, I'm using php to write out the tf scripts based on csv files converted from an excel spreadsheet.  Ideally, I'd like to create a module, pas the variables I need.  I specify container name(or base name), a quantity, image, 1+ profiles, 0+ devices(root is part of

[2017-08-27 17:54] jfgibbins commented on #83
don't ass why stuff got bolded, it was copied from ssh, crazy unix formatting, lol

[2017-08-27 17:56] jtopjian commented on #83
The bold format is due to markdown. If you put the code in code-blocks, it should format fine: https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2017-08-27 17:57] jfgibbins commented on #83
we have formatting?  oh god no

[2017-08-27 18:00] jfgibbins commented on #83
I ideally, going for spinning up 5 docker containers, initialize the  swarm, load a few things, like consul, vault, spin up puppetmaster, which will use vault and consul(rewriting some code to use them as backends), then once that's up, start spinning up the environment, infrastructure servers, tiered web servers, etc.

[2017-08-28 19:55] jfgibbins commented on #83
@jtopjian What are your thoughts?

[2017-08-28 20:23] jtopjian commented on #83
The code is hard to read, but in general it looks fine. Sure, there's a lot of explicit device declarations, but that might be the way things are. If you're used to using Puppet, you might have run into a similar situation before where the only option was to explicitly write out a bunch of resources.

You could probably abstract some of it into a module, but more than likely you'll end up with a "

[2017-08-28 21:02] jfgibbins commented on #83
Always hated json, looks so sloppy and convoluted, but if I can pass json to a module and get what I want, so be it.  Have to play around for a while and see how to format and pass that on as a variable.  Terraform is rather nice for straight forward stuff, but it sure shows its limits when it has to scale beyond simple configs.

[2017-08-28 21:05] jfgibbins commented on #83
And interpolation doesn't work in a variable, so that would be a json for each of the containers, which nulls the effect of even creating a resource w/count.  Unless I'm missing something.

[2017-09-06 18:11] jfgibbins opened #84 "limits on profiles"
Noticed, that though the readme states profiles accept the same configuration and device options that containers can use, it does appear that "limits" is not one of them.  Guessing just overlooked when you guys were trying to enable changing limits without recreating containers.  Just an FYI.

[2017-09-06 20:22] sl1pm4t commented on #84
Thanks @jfgibbins. Good point.

[2017-09-06 23:08] jfgibbins commented on #84
Anytime, just trying to help without being too much of a pain in the ass.  :)

[2017-09-06 23:16] jtopjian commented on #83
@jfgibbins Yes - exactly :)

There are certainly warts, bugs, and other issues with working with Terraform and JSON, _but_ generating the JSON can be done using a whole slew of external tools.

Some Terraform users have mentioned [jsonnet](http://jsonnet.org) as something to use to generate complex JSON files. Think of jsonnet as a mini programming language that generates JSON.

I personally haven

[2017-09-06 23:19] jfgibbins commented on #83
@jtopjian lol, that's how I am with networking.  I go to customer sites, and they're trying to pulling out all these fancy tools and tricks to make something work.  I always have to teach people, that advanced techniques are designed to add functionality and features.  If you have to use them to fix something, then like you said, you need to step back and figure out how you got yourself stuck in t

[2017-09-06 23:26] jfgibbins commented on #83
@jtopjian BTW, for the user.* stuff, I'm still debating between using .tpl files, just to give them a try, but the lack of intelligence in them, means having to program to pick the right one and having multiple templates, but probably easier to just use the php to write the user.* settings directly.  Wish .tpl could do something like lxd does with their template files, but then I'd have to learn y

[2017-09-06 23:50] jfgibbins commented on #21
I'm kind of in the boat, of let the provider allow it, if the api allows it.  Then what can or shouldn't be changed can be maintained just by lxc/lxd, and you don't have to constantly update or test anytime something new comes along.  Little bit of caveat emptor.  But I do like the idea of exposing the cloud-init parameters as a separate attribute, ie;, user-data, network-config, vendor-data, etc

[2017-09-07 00:49] jtopjian commented on #83
IMO, if you're already using something to generate the Terraform configuration, just continue using that for all text to make things simple.

Terraform recognizes `\n`, so you can do something like:

[code]

should be interpreted as:

[code]

As well, you can use "heredoc":

[code]

However, heredoc probably isn't supported in JSON.

[2017-09-07 00:54] jfgibbins commented on #83
I can use heredoc within php and still use variable substitution, so probably stick with that.

[2017-09-07 01:12] jtopjian commented on #21
I think a first-class cloud-init parameters are certainly worthwhile. I can investigate this at some point if someone doesn't get to it before me (I'm a little swamped with some other projects at the moment).

[2017-09-08 02:07] jfgibbins commented on #21
@jtopjian Now if you really wanted to try something cool, make it possible to use terraform to help create the user.user-data, user.network-config.

[2017-09-08 02:12] jtopjian opened #85 "libacl and Go 1.9 dependencies"
A recent change to upstream LXD now requires that `libacl1-dev` is installed in order for `terraform-provider-lxd` to build.

I've opened an issue at https://github.com/lxc/lxd/issues/3787 to see if libacl is in fact required for applications that consume LXD. If it is required, we'll have to update Travis and the build documentation accordingly.

As well, Terraform core now requires Go 1.9 to bui

[2017-09-08 02:16] jfgibbins commented on #21
@jtopjian Something like the following in json section would be for network-config.  The provider could convert the json/hcl to yaml and assigned to user.network.config.  Example site, http://www.configformats.com/

{
    "version": 1,
    "config": [
    {
      "name": "eth0",
      "type": "physical"
    },
    {
      "address": [
        "172.28.0.254"
      ],
      "search": [
        "grey

[2017-09-08 16:13] jfgibbins commented on #21
@jtopjian I can't code in go, but if you write it, I"m glad to test.  I have code already that could feed it.

[2017-09-09 00:24] jtopjian commented on #85
The awesome LXD team fixed the libacl requirement today! So the only change needed for Travis is using Go 1.9.

[2017-09-09 21:31] jfgibbins opened #88 "profiles and resources"
Just to verify, using a profile that is created by the provider in a resource, should create an implied dependency, shouldn't it?  I've been having some issues where containers are not created because profile doesn't exist, and vice versa, profile will not delete because it's in use.

[2017-09-09 22:05] jtopjian commented on #88
In order to create dependencies between resources, you need to refer to the resource. See the [profiles](https://github.com/sl1pm4t/terraform-provider-lxd/blob/master/README.md#profiles) for an example. If you don't refer to the resources in this way, then Terraform will not know the two resources are related and create them out of order.

[2017-09-09 22:29] jfgibbins commented on #88
Doing it json. :(  Wouldn't this be equivelent, or is the interpolation that kicks terraform in the you know what to understand?
{
    "resource": {
        "lxd_profile": {
            "zb_micro": {
                "name": "zb_micro",
                "count": "0",
                "config": {
                    "limits.cpu": "1",
                    "limits.cpu.allowance": "25%",

[2017-09-09 22:36] jfgibbins commented on #88
It would seem so, fortunately it was a quick and easy fix, but I swear, terraform has a serious case of the stupids sometimes.  Also just using lxd_profile.name works as well, skip the interpolation.

[2017-09-09 22:36] #88 closed

[2017-09-09 22:42] jfgibbins opened #89 "hexadecimal brain twister"
Currently use the following to generate IP address to be able to use count:

subnet 10.10.0.0/16
host = 11
count = 5
      "address" => '${cidrhost("' . $net[$network]["subnet"] . '", count.index + ' . "$host" . ')}/24',
answer gives me cidrhost("10.10.0.0/16", xx)  10.10.0.11 - 10.10.0.15

so how to do that with mac address, as terraform doesn't seem to comprehend hex very well, in fact, even doi

[2017-09-10 01:45] jtopjian commented on #88
I'm not entirely sure how interpolation works with JSON :/

If you aren't able to reference `${lxd_profile.foo.name}`, then `depends_on` might also work:

[code]

(whatever the JSON equivalent would be)

There's no interpolation required by doing that.

Another heads up is if you are creating containers that use profiles created _outside_ of Terraform. Terraform can only manage and organize resour

[2017-09-10 01:52] jtopjian commented on #89
You _might_ be able to use the [`format`](https://www.terraform.io/docs/configuration/interpolation.html#format-format-args-) function. That link references the [godoc](https://golang.org/pkg/fmt/) documentation for `fmt`. Terraform's `format` _should_ support the same interpolation as `fmt` does. For example:

https://play.golang.org/p/uQP6ZQH2G9

So maybe try `format` with `%02x`?

[2017-09-10 03:05] jfgibbins commented on #89
@jtopjian Perfect.  That's just what I needed  I knew you would have the answer.  :)  Thanks

[2017-09-10 03:05] #89 closed

[2017-09-11 21:55] sidxz opened #92 "Why is virbr0 being automatically added?"
Each time I launch an instance which has gnome installed using terraform it automatically adds the virbr0 to the list of network interfaces. It does not happen when I launch the same image using lxd init command.

[2017-09-11 22:38] jtopjian commented on #92
@sidxz Can you please provide the Terraform configuration you're using to produce the issue?

[2017-09-12 16:18] sidxz commented on #92
Sure,
[code]

[2017-09-12 16:23] sidxz commented on #92
`hkl | RUNNING | 192.168.122.1 (virbr0) | PERSISTENT
|           |             | 10.27.170.230 (eth0)
`
The problem is now 'provisioner "file" ' connection dials tcp at the first network vibr0 which is not accessible. I am not sure why this network is being added even!

[2017-09-12 17:27] sidxz commented on #92
My bad, Nothing to do with lxd terraform.

[2017-09-12 17:27] #92 closed

[2017-09-12 22:00] sl1pm4t commented on #85
Closed by #90

[2017-09-12 22:00] #85 closed

[2017-09-12 23:10] jfgibbins opened #93 "ip_address returned"
how is the lxd provider determining the ip address of the container to use for connections as well as for saving in the tfstate file?  Most of my containers are multihomed, and inevitably, the provider always chooses the wrong one.  While I can and do set the connection for remote-exec, that information can't be carried over to other resources.

[2017-09-12 23:23] jfgibbins commented on #93
Manually setting the ip_address, would be a trade off with having to set connection for remote-exec, so even money, but ideally combined with #21, one of the connections for network-config could be set as "default" for the purposes of the resource.

[2017-09-13 02:06] jfgibbins commented on #93
@jtopjian last detected would definitely be a problem on any container doing any sort of containers, like docker or lxd inside a container, though make sure and leave the tag open, for example some may use, eth1, other's like mine, use trunks, so it's actually eth0.1000, at least until I can get cloud-init to do naming on trunks and get it named mgmt...so you'll have that coded and out in the next

[2017-09-13 02:17] jtopjian commented on #93
Right, the idea would be to configure a container like so:

[code]

Inside the `for` loop I linked to earlier, there would be an extra piece of logic to see if `user.access_network` was defined and if so, set `ip_address` and `mac_address` to what was defined on `eth0.1000`.

The benefit of using `user` is that LXD reserves it for miscellaneous metadata. As well, keeping that data set in the LXD c

[2017-09-13 03:01] jtopjian commented on #92
@sidxz I'm glad you figured out where it was coming from :) Please don't hesitate to report any further issues.

[2017-09-13 14:31] jfgibbins commented on #93
Sounds like just what I need.  As it stands, my docker containers, end up with 4 addresses, public, mgmt, docker0 and docker_gwbridge with some custom source-routing thrown in.  Hopefully I don't ever decide to run docker on a dmz services container, cause then it would be 5 with the private_ip as well.  Yes, I'm a network geek.

[2017-09-14 23:34] jfgibbins commented on #93
@jtopjian Just saw that they released an LXD builder for packer a couple days ago.  Going to play with it and test it for a few days while this update is pending.  Initial tests show some promise.

[2017-09-16 23:54] #93 closed

[2017-09-17 00:49] jfgibbins commented on #69
I'm going to close this one for now.  With all the changes, it might not be valid anymore.  And my code doesn't use the feature, so I'll have to write up a separate project to test it again.

[2017-09-17 00:49] #69 closed

[2017-09-17 01:25] jfgibbins commented on #21
took a couple ideas from here, started writing new templates and metadata for the containers :)

[2017-09-19 14:52] shantanugadgil commented on #82
hi, after another round of testing, this is occurring even when I set `parallelism=1`
I am using:
[code]

[2017-09-27 08:36] nikaro opened #96 "relative path for disk device source"
Is it possible to user a relative source path for a disk device? I tried with the config below and it does not seem to work (`lxd_container.pg1: failed to start container (pg1): Failed to run: /usr/bin/lxd forkstart pg1 /var/lib/lxd/containers /var/log/lxd/pg1/lxc.conf:`).

[code]

If it is currently not possible, it would be a nice feature to add :-)

[2017-09-27 14:49] shantanugadgil commented on #96
I personally wouldn't recommend such a thing.
How about using terraform's variables/mechanism to evaluate "pwd" ?

[2017-09-27 14:57] nikaro commented on #96
I didn't know terraform had this mechanism. I used `source = "${path.cwd}"` and it works. Thank you.

[2017-09-27 14:57] #96 closed

[2017-09-27 22:18] jtopjian commented on #96
@shantanugadgil Good call. Thank you :)

[2017-09-29 11:47] shantanugadgil commented on #82
Versions:
Terraform v0.10.6
lxd plugin: latest from master.

hi @jtopjian
This is even more pronounced when I use the `splat` syntax for creating arrays of `lxd_container` with `file` blocks inside them.

I get many random instances wherein the file is just an sha1 rather than the actual content.

Unfortunately, I cannot offer anything more than symptoms as occurring on my test setup.
Do let me kn

[2017-09-29 13:25] nikaro opened #97 "does not support splat syntax?"
Hello,

I'm trying to build an Ansible inventory with ouputs and templates. But it seems that splat syntax are not working.

[code]

Am i doing something wrong or this provider does not permit this?

Thank you.

[2017-09-29 14:19] jtopjian commented on #97
This provider supports everything that core Terraform supports.

I believe you want to do `lxd_container.pg1.*.ip_address`. This is under the assumption that you would have the following:

[code]

[2017-09-29 14:20] jtopjian commented on #82
@shantanugadgil Thanks for the update. Unfortunately I have not been able to reproduce this. I will try to look at it in more detail when I have some time.

[2017-09-29 14:30] nikaro commented on #97
My container has only one IP. Want i want to do is to get IPs (or names) of all containers.

[2017-09-29 15:06] jtopjian commented on #97
The "splat" operator is used to gather information across several resources -- for example, 10 containers housed under the `lxd_container.pg1` resource as shown above.

It might be more helpful to understand what you're trying to use the splat operator for?

[2017-10-01 10:22] nikaro commented on #97
Hello @jtopjian, here is what i want to do:
* i have 2 container (but maybe more later)
* i want to get their name and IP
* to build dynamically an Ansible inventory

You can see my actuel tf file here : https://git.ubicast.net/nkarolak/ansible_pg_ha/blob/master/lxd.tf

I'm a Terraform beginner so pardon me if what i'm asking sounds stupid (and i'm french, so sorry for my possibly bad english)… :-

[2017-10-01 15:19] jtopjian commented on #97
@nikaro If I understand what you're trying to do, the splat operator cannot be used to access several resources across _multiple_ resource blocks. For example, this will not work:

[code]

The above is not supported in Terraform at all (not just the LXD provider).

The following will work:

[code]

The "Terraform" way of doing the above is:

[code]

I hope that helps.

[2017-10-01 19:20] nikaro commented on #97
It helps me a lot. Thank you very much :-)

[2017-10-01 19:20] #97 closed

[2017-10-01 22:11] jtopjian opened #101 "Problem with upstream LXD and storage pools"
This issue is to aggregate the discussion happening in a few other PRs in this repo.

A week ago, we began seeing failures in the Travis tests related to storage pools. When this has happened in the past, it was due to too much IO on the dir backend driver, but investigation showed this wasn't the same issue.

@mjrider pinpointed it to a simple:

[code]

The problem is detailed here: https://githu

[2017-10-02 10:10] Remigius2011 opened #102 "setting privileged=true has no effect"
Hi,

Having experienced getting non-privileged containers even though I have set `privileged=true`, I think this is worth an issue here. Privileged contgainers can currently _only_ be obtained when `security.privileged = true` is set in the container's resource config, i.e.:

    resource "lxd_container" "my-container" {
      name = "my-container"
      image = "some-image"
      privileged = tru

[2017-10-02 14:41] shantanugadgil commented on #82
hi @jtopjian not to bother, but the `sha1sum` made me remember the following (not sure if it could be related to the issue I am seeing)

https://github.com/sl1pm4t/terraform-provider-lxd/issues/53
https://github.com/sl1pm4t/terraform-provider-lxd/pull/63/files

_It can't be a coincidence that *exactly* the `sha1` of the file gets written to disk, right!? 😮_

Cheers,
Shantanu

[2017-10-02 16:45] jtopjian commented on #82
@shantanugadgil No, it's not a coincidence. This is where the hash is coming from. But I'm not sure why you are seeing this on random containers.

Let me know if you find a way to accurately reproduce this problem and I can look into it further. I can also take a look at this when I get some time.

[2017-10-02 21:49] jtopjian commented on #101
This problem has been fixed in the upstream LXD code.

So Travis will start working upon the next LXD release. Or we switch to using the snap method of installing LXD.

[2017-10-03 02:02] jtopjian commented on #102
@Remigius2011 Thanks for reporting this. I think we can easily remedy this so the original `privileged` parameter is still able to be used. I can look into this when I get a moment.

[2017-10-03 06:07] Remigius2011 commented on #102
Joe, I don't think it is necessary to have this redundancy (i.e. being able to specify privileged mode in two ways). Actually, I personnally prefer to use `security.privileged`, as this is in line with the lxd container configuration and its documentation. But it should be at least clear that `privileged` does not work as expected, i.e. correct the documentation and the samples. If you like, I can

[2017-10-03 06:14] jtopjian commented on #102
@Remigius2011 Yes, but we have to keep in mind those who have this plugin already deployed. Simply deleting the privileged parameter might cause configurations to suddenly fail with a syntax error :)

[2017-10-03 06:17] jtopjian commented on #102
@Remigius2011 Ah, I misread.

Yes, I understand your point about having two ways of configuring `privileged`. A warning might be the best option since the top-level `privileged` is not used at all.

[2017-10-03 06:36] Remigius2011 commented on #102
Exactly. Minimal action imho would be to just change the documentation and samples, issue a warning on top of this would make it clear for those who don't read documentations. I'll only tell off-record how much time I spent trying to fix a problem arising from running a non-privileged container but in full confidence the container is privileged...

[2017-10-03 16:07] mjrider commented on #101
i think in the long run, snap is going to give more reliable results because how backports and snaps integrate in an old os like trusty

[2017-10-03 22:04] jtopjian commented on #102
Ouch - I do apologize about that.

If you'd like to put a PR together, you are more than welcome to. I'm not sure how familiar you are with Terraform, but the Terraform-ish way of adding the warning message would be similar to here:

https://github.com/terraform-providers/terraform-provider-aws/blob/6cff4f3c51a76b2822db33ae50006ecee4fdaf7f/aws/data_source_aws_iam_role.go#L17-L21

The `Deprecated`

[2017-10-03 22:11] jtopjian commented on #101
I'm going to close this. The upstream bug has been fixed and we're going to try installing LXD on Travis via the snap method.

[2017-10-03 22:11] #101 closed

[2017-10-04 07:41] Remigius2011 commented on #102
@jtopjian Basically, I could just provide a pr for updating the documentation (which I think is the most important), as I am (still) go illiterate (even though I think I know what's going on when I read the code - and a adding a couple of lines would not intimidate me) and setting up a dev env for go/terraform is currently out of scope - tough I am aware that sooner or later I'll have to touch go

[2017-10-17 08:19] karlsoon opened #106 "Description support"
Hello!
Can u please add support for describing? For example, I want to set description to network interfaces like this:
resource "lxd_network" "lxd-internal" {
  name = "lxd-internal"
  description = "Internal network for containers on eth1"
  config {
    ipv4.address = "10.10.100.1/24"
    ipv4.nat     = "false"
    ipv6.address = "none"
    ipv6.nat     = "false"
  }
}

[2017-10-17 14:49] jtopjian commented on #106
I think this is possible. Looks like networks have a [description](https://github.com/lxc/lxd/commit/c92ccfd71934c1644ecd22849282dcb2ca682348#diff-04c9e854ea76e15546ab963fea9d85c1) field now.

[2017-10-18 01:42] #106 closed

[2017-11-19 18:17] jtopjian commented on #82
Unfortunately I haven't had time to look at this specifically. But I recently worked with someone to implement an object storage resource into the Terraform OpenStack provider. It was based largely on the AWS object resource.

Long story short: The AWS object resource specifies a `source` parameter which will read the contents from a source file on the local workstation. This is most likely to pre

[2017-11-20 12:44] shantanugadgil commented on #82
hi @jtopjian thanks for updating.

FWIW ... my entire setup is local. I use ProxMox as my virtualization software.
CentOS 7._latest_ is my "driver" nodes; it hosts terraform and the provider plugin.

[2017-11-24 20:23] jtopjian opened #111 "Idea: Create a docs directory"
I'm going to have some time to work on some outstanding issues. If I'm lucky, some of that work is going to be the creation of two new resources: a dedicated container file resource and there's a storage attach resource I said I would create a long time ago.

New resources means new docs and that got me thinking about our current README file.

Does anyone have thoughts or objections to creating a

[2017-11-24 22:06] mjrider commented on #111
i think that is a very good idea

[2017-11-25 17:51] jtopjian opened #113 "Idea: Use gox for releases"
@sl1pm4t I noticed that the pre-build releases are only for Linux. Mostly for selfish reasons, it'd be nice if there was at least a Darwin release. This is pretty easy to do with gox. See here for an example:

https://github.com/jtopjian/limbo/blob/master/.travis.yml

[2017-11-26 18:14] #53 closed

[2017-11-26 18:14] #102 closed

[2017-11-26 18:15] jtopjian commented on #82
As of #112, the SHA1 sum is no longer being written to the state, so that should resolve this problem. Let me know if you run into any more issues, though.

[2017-11-26 18:15] #82 closed

[2017-11-27 18:56] sl1pm4t commented on #113
Hi @jtopjian - yes I've used gox for some company internal providers in the past and it worked well.
I'll knock up a change.

[2017-11-27 18:58] sl1pm4t commented on #111
We could also add an `examples/<resource>` subdirs with example TF configs.

[2017-12-18 02:47] laymonk opened #120 "How to specify nested config properties?"
I am struggling to find the right hcl syntax for expressing a nested config for setting up a static network .. an equivalent to the lxd config like the following:
[code]
* All variations I have tried have failed terraform's syntax ..
* I have tried the following, and quite a few other variations
[code]
* In the above, I omitted the nameserver section ..

**Question**:  does this provider support t

[2017-12-18 02:57] jtopjian commented on #120
@laymonk A heredoc string is probably the best choice here:

[code]

[2017-12-18 03:14] laymonk commented on #120
Thanks for the quick response @jtopjian  .. but that has not worked.

Using the heredoc generates the same hcl as suggested by [configformats](http://www.configformats.com/) for a yaml-to-hcl conversion :
[code]

I may have to consider using the file options to push static network config as an alternative  ..

[2017-12-18 03:40] laymonk commented on #120
According to [lxd's cloud-init docs](https://github.com/lxc/lxd/blob/master/doc/cloud-init.md):

* DHCP is not an option for me
* I have gone with the last option, and it's not working, but I cannot say for certain this is an issue with this provider.  `Has anyone gotten a nested config like this to work with this provider?`
* Next, I will try setting user.network_mode to 'link-local' and pushing

[2017-12-18 04:09] laymonk commented on #120
Just checked, and contrary to [lxd_container's docs](https://github.com/sl1pm4t/terraform-provider-lxd/blob/master/docs/resources/lxd_container.md) .. for the file block:
* `content` is not optional, and `source` is not recognized as a valid config token
[code]
* Also seems like `file()` is not supported for `content` ..  using `content = file(/full/path/to/file)` , I get the following error (quot

[2017-12-18 04:33] jtopjian commented on #120
A few quick notes here:

I don't think having a completely accurate HCL representation of the `network-config` structure is going to help. The value of the config setting is what matters. As long as the value is parsable YAML, that will get passed to cloud-init and cloud-init will then process it.

It's a little confusing here because YAML is structured data and embedding it in HCL feels weird, so

[2017-12-18 10:13] laymonk commented on #120
@jtopjian, million thanks for the feedback ..

Thanks too to @sl1pm4t for ensuring that the `file block` will work when next I try it ..

* My containers are configured with `devices of type nic` but unfortunately ip settings here only seem to apply if one is using lxd's networking config ..
* I am using macvlan and lxd's networking config is solely focused on bridges, or vxlan or gre tunnels (no

[2017-12-23 01:10] rhass commented on #75
@jtopjian This issue appears to have come back in v1.1.0 + Terraform 0.11.0. I am not sure what specific version the behavior was reintroduced. I can create a new issue if you prefer, but it seems to be exactly the same as before.

[2017-12-23 01:31] rhass commented on #75
@jtopjian I identified `v1.0.0` as the version in which the regression was introduced.

Note: I do not have sufficient permissions in GitHub to reopen this issue.

[2017-12-23 15:45] jtopjian commented on #75
@rhass That's really strange. The storage pool resource hasn't been touched since the last time you reported this issue.

I'll try to reproduce this when I get some time.

[2017-12-27 10:55] mrexojo opened #121 "Get http://unix.socket/1.0: dial unix /var/lib/lxd/unix.socket: connect: connection refused"
Hi,

We are testing "terraform-provider-lxd", but don't available to launch simple lxc container

- lxc version: 2.21
- /usr/bin/terraform-provider-lxd

main.tf
[code]
terraform plan

Resource actions are indicated with the following symbols:

terraform apply

What's wrong?

[2017-12-27 14:12] segmond opened #122 "Having problem fetching and building terraform-provider-lxd"
**$** **_go get -v -u github.com/sl1pm4t/terraform-provider-lxd_**
github.com/sl1pm4t/terraform-provider-lxd (download)
github.com/hashicorp/terraform (download)
package context: unrecognized import path "context" (import path does not begin with hostname)

_

_

**$** **_make_**
go build -v
../../hashicorp/terraform/terraform/context.go:4:2: cannot find package "context" in any of:
	/home/segmond

[2017-12-27 22:01] jtopjian commented on #122
@segmond You'll need to use Go 1.9 to build the provider.

Let me know if that helps or if you're still having problems.

[2017-12-27 22:02] jtopjian commented on #121
@mrexojo Can you post your `provider` block?

[code]

[2017-12-28 06:39] segmond commented on #122
Builds with 1.9 fine.  Thanks

[2017-12-28 06:39] #122 closed

[2017-12-28 13:09] mrexojo commented on #121
Sorry, with the provider

[code]

[2017-12-28 14:06] sl1pm4t commented on #121
You have an empty provider configuration, which may work if you’re running Terraform on a host where the lxc client has been configured. If not,  you can explicitly define lxd connection details. See the second example in this doc:
https://github.com/sl1pm4t/terraform-provider-lxd/blob/master/docs/README.md

[2017-12-28 21:14] jtopjian commented on #113
Implemented in #119. Thank you again!

[2017-12-28 21:14] #113 closed

[2018-01-10 16:27] MikeStankavich commented on #120
Maybe too late to do any good, but I have a HEREDOC working.

[code]
Or if you prefer v2,
[code]

The odd gateway and hwaddr bit are for OVH.

[2018-01-10 16:35] MikeStankavich opened #123 "Specifying config volatile.eth0.hwaddr for macvlan triggers rebuild"
I'm using the following config for secondary IP addresses on an OVH server with macvlan.
[code]
So far I haven't found any way other than this to specify the MAC address assigned by the host. The problem is that when I run an apply, the provider reports that it needs to rebuild the container even though I haven't changed the config. Looks like it doesn't pick up that value when it gets an inventor

[2018-01-10 16:38] jtopjian commented on #120
@MikeStankavich Thank you for this. I will update our documentation to add this as an example. If you'd like to submit a PR to our `/docs` directory, that would certainly be welcomed, too :)

[2018-01-10 16:46] jtopjian commented on #123
@MikeStankavich It looks like we are only setting certain portions of `config`:

https://github.com/sl1pm4t/terraform-provider-lxd/blob/master/lxd/resource_lxd_container.go#L362-L380

and are ignoring `volatile`. Up until now this has been intentional. `volatile` gave off the vibe that the information would be changing and it might have caused unnecessary refreshes or rebuilds.

However, if you're

[2018-01-10 22:03] MikeStankavich commented on #123
@jtopjian Thanks for the clarification. I had the same thought about the volatile prefix - seemed like it would be transient and subject to change. But when I looked around upstream in LXD I couldn't find any mention of another way to set a MAC address. I did find a few references to setting volatile.eth0.hwaddr to set a preconfigured MAC address
https://github.com/lxc/lxd/issues/3694 https://gith

[2018-01-10 22:09] MikeStankavich commented on #123
As noted opened an issue upstream to confirm that there's not a more correct approach before I start on PR https://github.com/lxc/lxd/issues/4157

[2018-01-10 22:38] MikeStankavich commented on #123
Big thanks to Stéphane from LXD for pointing out that is supported to specify hwaddr on a container config device instead of a profile config device.

So I created a new profile with no network devices and added an inline device block with the hwaddr specified to my container resource definition. It works perfectly!

[code]

Looks like there's a documentation PR in my future :)

[2018-01-10 22:43] jtopjian commented on #123
Nice! Thank you for looking into this :)

[2018-01-15 19:41] sl1pm4t commented on #123
Closing this issue as it seems it was resolved.

[2018-01-15 19:41] #123 closed

[2018-01-18 15:57] laymonk commented on #120
@MikeStankavich, much thanks for a heredoc that works ..

@jtopjian, I settled for pushing files .. and couldn't find time to troubleshoot cloud-init issues (and it doesn't look like I need to any more) .. really appreciate your quick support ..

[2018-01-18 15:59] jtopjian commented on #120
@laymonk sounds good and no problem at all. I am going to close this issue, but please let me know if you need any more help.

[2018-01-18 15:59] #120 closed

[2018-01-26 08:43] rhass opened #124 "Unable to attach custom storage volumes to more than one container"
The provider does not seem to allow attaching custom storage volumes to more than a single container even though this is a supported feature.

When running `terraform plan` the following error is returned:
`Error: lxd_volume_container_attach.downloads: resource repeated multiple times`

However running `lxc storage volume attach purehoppiness downloads sonarr /srv/downloads` by hand on the lxc hos

[2018-01-26 08:48] jtopjian commented on #124
@rhass Can you provide the Terraform configuration (`main.tf` file) you're using to get this error?

[2018-01-26 09:03] rhass commented on #124
Ahh! I accidentally had the `lxd_volume_container_attach` assigned the same name. Copy-pasta issue. Sorry! 🤦‍♂️

[2018-01-26 09:03] #124 closed

[2018-01-26 09:29] jtopjian commented on #124
@rhass No worries - glad you were able to get it working 😄

[2018-02-08 13:26] rickardrosen commented on #121
Hi @sl1pm4t ,
We have no local configuration and specify scheme = "https" but still the provider fails during apply, trying to connect using a local unix socket.
[code]

TF debug:
[code]

However if we create a local lxc config "out of band" and set the "default" connection to be a remote host, it works.

Is this to be expected?

[2018-02-08 13:59] rickardrosen opened #125 "Unable to execute provider in alpine"
Hi,
We use an alpine docker container to get a standardized terraform environment but cannot use this provider.
I'm also unable to compile it as there seems to be an integration issue with the current LXD go lib:

[code]

Would it be possible to request release a build with CGO_ENABLED=0?

Thanks!

Rickard

[2018-02-12 20:10] sl1pm4t commented on #121
HI @rickardrosen - you can also set one of the lxd_remote's as the default, meaning you shouldn't need to specify in each resource.
e.g.

[code]

[2018-02-12 20:10] sl1pm4t commented on #121
@mrexojo - did you resolve your issue?

[2018-02-12 20:13] sl1pm4t commented on #125
Hi @rickardrosen
I'm happy to add `CGO_ENABLED=0` to the build - have you been able to confirm it fixes your issue? Or are you still unable to build due to the LXD go lib error?
Matt

[2018-02-12 20:30] rickardrosen commented on #125
Last I tried it failed.
Haven’t dug into it other than that my own provider for our
configdb/inventory required the cgo flag disabled for it to run under
alpine.

If you build it I’ll be happy to test the binary.

Regards
Rickard

On Mon, 12 Feb 2018 at 21:13, Matt Morrison <notifications@github.com>
wrote:

[2018-04-03 19:57] bjonnh opened #126 "Fail to create containers with LXD 3.0.0"
lxd_container.test1: failed to create container (test1): Failed container creation: Must specify one of alias, fingerprint or properties for init from image

Using a remote lxd:

resource "lxd_container" "test1" {
  name      = "test1"
  remote = "host-a"
  image     = "ubuntu:"
  ephemeral = false
  profiles  = ["ubuntu_vlanbr2"]
}

[2018-04-03 20:02] bjonnh commented on #126
Probably related to: https://github.com/lxc/pylxd/issues/197

[2018-04-08 17:56] shantanugadgil commented on #126
@bjonnh

Which OS is this on? 18.04, I presume?

[2018-04-08 21:00] bjonnh commented on #126
Yes 18.04

[2018-04-09 15:58] bjonnh commented on #126
It works using the lxd_cache_image. I think I was confused with the image names and repositories.

[2018-04-09 15:59] #126 closed

[2018-04-29 05:28] shantanugadgil opened #128 "lxd_container_file does not create the file"
### Versions
Terraform: 0.11.7
LXD Provider: 1.1.0 (latest download from releases' page)
Terraform Driver Machine: CentOS 7
LXDHost Machine: Ubuntu 16.04 (LXD: 2.21)

### Symptom
The `file` block works, but the separate resource `lxd_container_file` does not work.

This works:

[code]

The following doesn't work:

[code]

[2018-04-29 05:42] shantanugadgil commented on #128
This is not an issue. I was missing the `remote` parameter inside the `lxd_container_file` block.

_A case of not reading the docs properly, not paying attention to the errors on screen, and inadequate morning coffee!_ 🙁 🤦‍♂️

The working version:

[code]

[2018-04-29 05:42] #128 closed

[2018-04-30 09:14] shantanugadgil opened #129 "make lxd_container_file forcibly recreate file (ignore missing file)"
I have the following `lxd_container_file` definition.
[code]

If I wanted to recreate `mylxd1`, I would taint `lxd_container.mylxd1`.
`lxd_container.mylxd1` gets recreated but the bootstrap files doesn't.

So, if I taint the `mylxd1_bootstrap` resource now, Terraform complains that the file doesn't already exist. ??

At this point I am stuck short of manually creating a file "/root/bootstrap.bash"

[2018-05-01 03:33] jtopjian commented on #129
@shantanugadgil Nice catch.

The best way of resolving this is to make sure all related resources are tainted. This will make Terraform recreate all resources upon the next apply.

However, I agree that this is a bug in general. For example, if a user deletes the file outside of Terraform, Terraform should recreate it.

#130 will fix this, but there's one caveat when used with tainting: Terraform

[2018-05-01 03:38] shantanugadgil commented on #129
I will check this as soon as I can.

BTW, I did notice that users have asked for a 'taint dependency' in Terrform, which would solve this in a clen manner.

If it "just work" I am all OK with two apply commands.

I use a GNUmakefile to wrap my most needed Terraform cmds; plan, apply, show, refresh, etc.

[2018-05-01 13:40] shantanugadgil commented on #129
@jtopjian

This works now without "terraform apply" bailing with errors. :clap:

Until Terraform itself gets a "taint dependency", I can live with manually tainting the other dependent resources (like the `null_resource` which executes this bootstrap script)

Thanks and Regards,
Shantanu

[2018-05-01 13:44] jtopjian commented on #129
Glad it's working :)

Generally bugs are closed once they're fixed. I'd imagine we'll have a new release out soon, though.

[2018-05-01 13:44] #129 closed

[2018-05-01 14:00] shantanugadgil commented on #129
Just to add, I added the trigger `mac_address`  to the corresponding `null_resource`.

This should take care of the `null_resource` forcibly executing when I taint and recreate the `lxd_container`.

[code]

[2018-06-09 21:07] sl1pm4t commented on #121
Closing stale issue.

[2018-06-09 21:07] #121 closed

[2018-06-20 22:35] HSBawa opened #133 "Is this plugin tested with LXD 3.1?"
I just migrated to LXD 3.1. When I run my terraform script, I get following error on both Artful and Bionic.
[code]
Not sure if this is a plugin or LXD issue. If I create following profile and network manually, with same parameters, they work fine.  Also, same code runs fine with LXD 2.21.

Thoughts?

[2018-06-20 22:37] jtopjian commented on #133
@HSBawa You might need to specify a different path to the `unix.socket`. The LXD snap is not located at `/var/lib/lxd/unix.socket`. Alternatively, you could symlink the snap path to `/var/lib/lxd/unix.socket` or communicate via https.

[2018-06-20 22:47] HSBawa commented on #133
@jtopjian  Thanks for quick response.You are correct. New location is: /var/snap/lxd/common/lxd/unix.socket. I will try making some changes and see if I can get it working using new path or else switch to https.

[2018-06-20 22:48] jtopjian commented on #133
@HSBawa No problem. I'm going to leave this issue open for now. Given all new versions of LXD will use `/var/snap/lxd/common/lxd/unix.socket` we should consider supporting both paths somehow.

[2018-06-20 23:43] HSBawa commented on #133
Using https, I was able to get past the Profile and Network. But for some reason container creation is still giving same issue.
[code]

[code]

[2018-06-21 00:11] HSBawa commented on #133
Using https, I was able to get past the Profile and Network. But for some reason container creation was still giving same issue.
[code]
**Linking the lib folder worked**.

`$sudo ln -s /var/snap/lxd/common/lxd /var/lib/lxd`

[code]

[2018-07-24 19:07] jtopjian opened #135 "Issue with resourceLxdContainerWaitForNetwork"
The new `resourceLxdContainerWaitForNetwork` polling function works well. A little too well 😄

There are some edge cases where the container won't have an IP address (whether no network, or network info is being supplied _after_ the container was created). In these cases, the apply will always fail.

I propose adding a new argument to `lxd_container` called `wait_for_network` with a default value

[2018-07-28 15:16] jtopjian opened #137 "Possible Concurrent Map Write Bug"
Travis seems to be randomly flagging a concurrent map bug during the multi snapshot test.

This issue is to note the bug's existence. I should be able to look at it in the next few days.

[2018-07-30 04:01] shantanugadgil commented on #137
In the past when I have tried to create too many remote lxd containers with files (now lxd_file) within them, i used to hit many issues. When I made parallelism==1, it sort of mitigated the problem.

Weird, but deterministic things like the file's SHA1 being set as the file content.

This was quite a few months ago, so many things would have changed by now.

The word 'concurrent' for the lxd provi

[2018-09-09 09:55] shantanugadgil commented on #133
continuing the question for LXD 3.4?

[2018-09-09 14:42] jtopjian commented on #133
Yes

[2018-09-19 19:51] yobert commented on #54
I work around this by doing something like
`provisioner "local-exec" {
  command = <<EXEC
lxc exec ${var.instance_name} -- bash -xe -c '
echo "this runs inside the container!"
'
EXEC
}`

[2018-10-08 19:17] HSBawa commented on #133
HI @jtopjian I tried Terraform plugin with LXD 3.5 (snap) and still getting same error.

Not sure if this issue has been fixed or if I am missing something. Link(workaround) don't work after I do a system restart. I am using plugin release 1.1

Thoughts or tips?

[2018-10-08 19:40] jtopjian commented on #133
@HSBawa You need to apply the same fix as described previously in this issue until this issue is closed.

Alternatively, authenticate via https instead of via the unix socket.

[2018-10-08 19:42] jtopjian commented on #133
Additionally, I should clarify that the issue described here is not about the version of LXD - this provider continues to work with _all_ versions of LXD. The issue is due to the change in path of the unix socket with the snap packages.

I've updated the title of this issue accordingly.

[2018-10-29 11:15] pmalhaire opened #145 "remote not accessible using snap lxd"
I have related issue using lxd 3.6 on ubuntu 18.10

The remotes added using lxc are not present using terraform.

I linked the lib using

[code]
as seen in this issue https://github.com/sl1pm4t/terraform-provider-lxd/issues/133

I have a remote named `my_remote`

The following command works :
[code]

But using the provider the following error is given :

could not create image server client: The r

[2018-11-11 12:19] pmalhaire commented on #145
I'll, I have nested custom stuff in this tf I need to clean it up.

[2018-11-13 15:56] HariBawa commented on #145
@pmalhaire @jtopjian
I have tried link `ln` command and did not work for me.

Following is workaround code, that I have used to update `main.tf` before terraform run. main.tf is updated based on the lxd installed using snap or apt:
[main.tf.tmpl](https://github.com/HSBawa/icp-ce-on-linux-containers/blob/master/main.tf.tmpl)
[install.sh](https://github.com/HSBawa/icp-ce-on-linux-containers/blob/mas

[2018-11-13 16:22] jtopjian commented on #145
@HariBawa Isn't this the same as what you reported in #133?

I'm still trying to determine if this issue (#145) is a duplicate of #133 or not.

[2018-11-13 16:30] HariBawa commented on #145
@jtopjian Yes this is duplicate of #133 . I just posted workaround for pmalhaire , if it helps him in any way as  you update the terraform provider.

[2018-11-13 16:33] jtopjian commented on #145
@HariBawa OK cool - thank you for clarifying :)

As an aside, I have https://github.com/sl1pm4t/terraform-provider-lxd/pull/147 which should resolve this issue altogether.

[2018-11-15 22:31] jtopjian commented on #145
Oh! I think I understand the issue here.

@pmalhaire You are adding remotes outside of Terraform and want them to be available in Terraform. Is that correct?

If so, you will still need to define the remote in Terraform. Terraform is unable to detect remotes which are not defined in the `provider` block. It _might_ be possible to add this kind of support. I can't say for sure nor can I give an est

[2018-11-20 09:55] pmalhaire commented on #145
@jtopjian It is my need.
It was working before the the snap version.

I feel sorry I had no time to clarify my problem.

[2018-11-20 21:13] jtopjian commented on #145
@pmalhaire no problem.

Can you try the latest version and let me know if it now works? If it works with non-snap versions (which is surprising, but I guess it's a feature that is enabled implicitly through some other code), then it might work with the new version.

[2018-11-27 11:48] epronk opened #149 "Please provide a working example"
Please provide a working example.
Below I tried to create a single lxd container based on a centos image.
I'd like to specify 1 or 2 NICs and choose the IP.

When I apply this I get:

foo.tf:
[code]

[2018-11-27 17:49] jtopjian commented on #149
There are two possibilities here:

1. Your LXD environment isn't fully configured. Are you able to launch a container using the `lxc` command-line tool?

2. It's possible the profile you're using is not configured with a root device (storage). I suggest doing something like:

[code]

And applying the storage configuration to your `profile` profile.

[2018-11-27 18:35] mjrider commented on #149
@jtopjian i can confirm that i'f seen the same error, and your suggestion fixed it

[2018-11-27 18:54] jtopjian commented on #149
@mjrider Awesome :)

Which one fixed the problem? 1 or 2?

[2018-11-28 07:58] mjrider commented on #149
sad puppy eyes, i should have read better ;-(
it was option 2

here is my somewhat cleaned default profile:

[code]

[2018-11-28 15:32] jtopjian commented on #149
OK, cool. I don't mind updating our examples to have the storage device entry, but it's odd that our acceptance tests aren't failing.

[2018-12-12 19:03] #149 closed

[2019-01-10 03:57] jtopjian opened #153 "Move to Go 1.11"
The "official" Terraform providers recently had some automated updates done. For example: https://github.com/terraform-providers/terraform-provider-openstack/pull/570.

We should do the same here.

The formatting changes were done with:

[code]

[2019-01-10 07:05] mjrider commented on #153
shall we add go mod also, so we have dependency pinning, way to often terraform broke the build with master

[2019-01-10 15:53] jtopjian commented on #153
That's the exact reason why we don't vendor :)

There isn't a lot of activity with this provider, so not vendoring helps us catch breaking things easier.

[2019-01-24 16:38] randled-re opened #154 "Attribute References"
Hi,

Any chance you can make name Attribute Reference out put on all the resources?

Kind regards,

Dan

[2019-01-29 01:31] sl1pm4t commented on #154
Oops, forget my answer, thought I was looking at a different project.

[2019-02-05 17:40] Dan-Wolfy commented on #154
To confirm.

I work on separate main, outputs, variables per resource and use terraform modules to link the containers to profile, then to storage and networking.

On Profiles/storage pool/networking I have setup output for name based on resource.here.name so it should show/export the name as part of the output.

However it doesn't use the generated name from the source

[code]
instead it just sho

[2019-02-07 14:36] Dan-Wolfy commented on #154
Also seem to have run into another problem. If I don't pre-seed LXD and use the provider to fire up the network its fails on the storage_pool, if I re-rerun it seems to work fine.

[2019-03-15 10:32] randled-re opened #156 "Bug; lxd_cached_image"
Hi,

I've tested using a private server but switched to making the server public.

When running terraform i'm getting;

7 error(s) occurred:

* module.image-jessie.lxd_cached_image.image: 1 error(s) occurred:

* lxd_cached_image.image: The remote isn't a private LXD server
* module.image-stretch.lxd_cached_image.image: 1 error(s) occurred:

* lxd_cached_image.image: The remote isn't a private LXD

[2019-05-07 12:12] antoinesax opened #161 "Unable to create LVM storage pool"
Hi,

I'm using LXD 3.12 and terraform lxd provider v1.1.3. I have 2 nodes running LXD in clustering mode and I want to define a new storage pool but it doesn't work because of 'node-specific' variables like `source`.

My resource definition with `source` configuration:
[code]

I got the following error:
`* lxd_storage_pool.basic-pool: Config key `source` is node-specific`

When removing the `sourc

[2019-06-03 14:30] elbrinke opened #162 "Terraform Upgrade v0.12.0 not working with current LXD plugin."
Hi,

We upgraded to Terraform v0.12.0 and found the following error when trying to use the LXD plugin. With v.0.11 it worked fine.

Would you kindly assist us with this issue.

Kind Regards
Eddy

[2019-06-03 18:21] HSBawa commented on #162
Just curious if you tried `terraform 0.12upgrade`.
https://www.terraform.io/upgrade-guides/0-12.html

[2019-06-03 18:26] jtopjian commented on #162
The core issue is that this provider needs to be recompiled and released for Terraform v0.12. This is something we'll have available shortly.

[2019-06-08 03:02] HSBawa commented on #162
@jtopjian are you releasing binaries?

[2019-06-08 03:17] jtopjian commented on #162
There should have been binaries build upon the last release: https://github.com/sl1pm4t/terraform-provider-lxd/releases/tag/v1.2.0

@sl1pm4t maybe something didn't trigger?

[2019-06-10 20:28] sl1pm4t commented on #162
@jtopjian - there was some new / unexpected flakiness in the unit tests that prevented the Travis build from releasing the new binaries.
https://travis-ci.org/sl1pm4t/terraform-provider-lxd/builds/543103085

[2019-06-11 01:45] jtopjian commented on #162
@sl1pm4t Thanks for looking into this. It looks like we've got one test still failing:

* https://travis-ci.org/sl1pm4t/terraform-provider-lxd/jobs/543103088#L1782-L1783
* https://travis-ci.org/sl1pm4t/terraform-provider-lxd/jobs/543103089#L1229-L1230

Which is really strange.

[2019-06-14 04:09] jtopjian commented on #162
This appears to be some kind of timing issue. Sometimes lxd is attaching the networks to the container in the opposite order. I'll continue to look into this as I have time.

[2019-06-17 14:07] jtopjian commented on #162
Looks like now there was an issue with compiling the windows binary?

[2019-06-19 09:31] ojan opened #164 "LXD cluster"
I've tried the plugin on an LXD standalone and it works fine. Now, i try to create a network on a lxd cluster with no luck.

It seems that the necessary `target` parameter for lxd is not in the plugin like show in the below output

[code]

I get the same error on the command line

[code]

This one works

[code]

Is it possible to add this parameter ?
Thanks

[2019-06-21 14:38] jtopjian commented on #162
@sl1pm4t Thank you for your help!

For posterity, we have temporarily disabled Windows builds until someone can find the time to look into why we're getting compilation errors.

Binaries are now available here: https://github.com/sl1pm4t/terraform-provider-lxd/releases/tag/v1.2.0

I'm going to close this issue.

[2019-06-21 14:38] #162 closed

[2019-07-31 13:31] surfer190 opened #167 "After Running `lxd init` again I can't connect to the client"
I get

`Error: Unable to create client for remote [lxd-server-1]: Could not get remote certificate: Get https://192.168.33.10:8443: EOF`

after running `lxd init` again on the server due to there not being a default storage pool or root device:

[code]

[2019-07-31 14:28] jtopjian commented on #167
This makes sense to me, as `lxd init` configures/reconfigures an LXD server as new, right? What is the outcome you're looking for in this situation?

[2019-07-31 14:47] surfer190 commented on #167
Hmmm, are you taking about the storage pool? Why would terraform  now longer be able to connect to the client? I have deleted `~/.terraform/config`

[2019-08-01 06:55] surfer190 commented on #167
Oops, I had a tunnel running so I couldn't connect with that ip. My mistake.

[2019-08-01 06:55] #167 closed

[2019-08-01 08:09] surfer190 opened #168 "Error waiting for container (ubuntu-web) network information: timeout while waiting for state to become 'OK' (last state: 'NOT FOUND', timeout: 3m0s)"
With the following configuration:

[code]

I get:

Error waiting for container (ubuntu-web) network information: timeout while waiting for state to become 'OK' (last state: 'NOT FOUND', timeout: 3m0s)

[2019-08-01 10:21] surfer190 commented on #168
I think this has to do with this setting, which defaults to true:

`wait_for_network = false`

[2019-08-05 05:01] surfer190 commented on #168
I think this is because I didn't setup the bridge network during `lxd init`

[2019-08-05 05:01] #168 closed

[2019-08-13 14:02] wiseflat opened #169 "x509: certificate signed by unknown authority"
hi guys,

I deployed a lxd host accessible via https. It works well !
then I destroyed my terraform project

If I try to deploy it again, I have a problem with the lxd certificate
Terraform resources complain :

[code]

Where are those keys ?
I don't know how to purge old keys except by changing lxd_remote.name

[code]

Any ideas ?
Cheers

[2019-08-13 15:05] jtopjian commented on #169
@wiseflat Check under `~/.config/lxc`. Maybe removing the keys/configs under that directory will resolve the issue.

[2019-08-13 15:07] wiseflat commented on #169
HI @jtopjian !

Great ! I found all the certificates under ~/.config/lxc/servercerts
Nice one !
Cheers

[2019-08-13 15:07] #169 closed

[2019-08-13 20:49] wiseflat opened #170 "Error: The [source volatile.initial_source] properties cannot be changed for "zfs" storage pools"
# Environment Details

terraform-provider-lxd version: v1.2.0
Host OS: ubuntu
Host OS Version: 18.04
LXD Version: 3.16

Hi guys,

I found something strange, I added this resource :

[code]

This is the terraform resource, before validation :

[code]

The first time it works !
But as you can see, the source information is wrong
[code]

This is the json object from terraform.tfstate :
There is a wro

[2019-08-14 02:09] jtopjian commented on #170
@wiseflat off the top of my head, I'm not sure. I'll have to investigate this when I have some time.

[2019-08-17 13:06] mikescott opened #171 "Profiles always cause changes"
I have the following profile:

[code]

Every time I run terraform plan or terraform apply it thinks there are changes, even though the profile hasn't been modified:

[code]

[2019-09-03 18:58] trvon opened #172 "Relics of terraform destroy"
I am looking into this issue further but it seems that after you run terraform destroy to delete the managed infrastructure, lxd profiles, network profiles and openvswitch bridges and configuration are still persistent in the environment if created in a terraform file. I have attached a snipped of my code so anyone can verify what I am currently seeing.

Container profile
[code]
Network profile
[c

[2019-09-03 18:59] #172 closed

[2019-11-17 02:32] nihr43 opened #175 "Cluster: all containers provisioned on same node, per apply"
I'm using this provider with a 6 node lxd cluster.  When I issue a statement like this in my `resources.tf`:

[code]

The result is six new containers running on `one` of my lxd hosts.
The next time I trigger a `create` transaction, those containers will be provisioned on the next host.  (its not the same host every time).

By default, the lxd command line tools will perform "round-robin" on conta

[2019-11-17 03:06] nihr43 commented on #175
I've verified the behavior isn't any different if i factor out the `count` parameter.

This yields the same result:

[code]

[2019-11-17 03:35] jtopjian commented on #175
@nihr43 Thanks for reporting this issue.

This provider hasn't been tested with the LXD clustering feature/API, so it's not surprising that there are issues. If someone gets a chance, we'll look into adding this support.

[2019-11-18 15:27] nihr43 commented on #175
I poked at this over the weekend.  The REST api has a `POST /1.0/containers/<container_name>?target=<cluster_member>`, but it isn't clear to me how to specify a target through the golang client library for a create operation.
On the standard command line it looks like `lxc launch images:alpine/3.10 test --target=hypervisor-876e`
My thinking is that were this feature available, it should be straigh

[2019-11-25 18:21] trvon opened #176 "Problems with Static Addresses in LXD 3.18"
I am having an issue setting a static IP utilizing LXD version 3.18 (on opensuse) . I am trying to find the root of the issue seeing that the provided terrform syntax currently works on LXD version 3.0.3 (ubuntu server).

[code]

Specifically, when terraform deploys the containers on version 3.18, the containers are assigned random IP's instead of the provided static address. I have attempted to u

[2019-11-25 21:11] jtopjian commented on #176
@trvon Are you able to configure a container with a static IP on the command-line? If so, what are the commands that are successful?

[2019-11-25 21:45] trvon commented on #176
I can use `lxc config device set master-zone:master eth0 "ipv4.address=10.0.0.5"` to change the IP address and the changes are reflected in the command `lxc config device show master-zone:master` but when I look at the container with lxc list is still shows a randomly assigned IP address. I also tried restarting the container and the same address is shown.

[2019-11-25 22:53] jtopjian commented on #176
I'm guessing this is an OVS issue. I just created a new LXD environment (not using OVS) and am able to create a container with a static IP both through Terraform and on the command-line.

[2019-11-25 23:04] trvon commented on #176
I'll explore the OVS configuration and report back.

[2019-11-25 23:04] #176 closed

[2019-12-11 02:12] a0s commented on #120
BTW, for now the right syntax is
[code]

[2019-12-22 09:55] johnlane commented on #171
I have the same problem but in my case it is a `lxd_container` that always changes. I have narrowed the cause down to devices having a `name` attribute, like this:
[code]
It is the presence of `name` within the `properties` section that causes the problem for me. Just commenting out those entries allows `terraform plan` to report no changes. However, doing that doesn't help me because I need to sp

[2019-12-22 15:12] johnlane opened #177 "file changes are not detected"
I have a lxd_container that has a file block defined lke this
[code]
The file is uploaded with a new container but changes to the file are not detected by Terraform and it does not therefore upload  the changed file into the container. I have to do a destroy/create to get the file into the container.

I am using the precompiled 1.2.0 binary with Terraform 0.12.0.

[2019-12-25 02:10] nihr43 opened #178 "lxd_cached_image aliases not idempotent"
I'm trying to use an `alpine/stable` alias so that I have one place to represent base image upgrades across the entire infrastructure.  That works fine, but my alias is getting recreated on every `apply`.

[code]

my `images.tf`:

[code]

I've built at `b17e82d`
I'm using `Terraform v0.12.17`
My cluster is on `lxd 3.18`

[2019-12-25 03:33] nihr43 commented on #175
heres an inefficient though more elegant work-around than provisioning one at a time as i was before.

with `scripts/provision_alpine.sh` defined as a `local-exec`:

[code]

We can use `lxc cluster list` and `shuf` to randomly scatter new containers:

[code]

[2019-12-25 03:40] nihr43 commented on #178
I did `lxc image alias delete alpine/stable`, re-ran terraform a few times, and now i can't reproduce this.  though the above clearly shows a state which shouldn't be possible.

I'll keep an eye on this and see if i can get it to happen again.

[2019-12-26 15:10] thepenguinthatwants opened #179 "Ability to set a static ip for an image?"
Any possibility to add a static ip to the image like

resource "lxd_container" "ubuntu" {
  name      = "ubuntu"
  image     = "ubuntu:18.04"
  ephemeral = false
  profiles  = ["default"]
  ip_address  = "10.62.176.69"
 }

[2019-12-26 16:40] thepenguinthatwants commented on #179
Ooh so I failed on that curly bracket. Tho ubuntu image not found.

[2019-12-27 16:48] zacksiri opened #180 "Statically compiled Binary"
I'm trying to use this with the alpine linux container (used by hashicorp's github action) and I'm getting this error

[code]

So I attempted to recompile the plugin using alpine linux but got this error

[code]

[2019-12-27 18:12] zacksiri commented on #180
I just tried this in a ubuntu container getting teh same error.

[2019-12-27 18:17] jtopjian commented on #180
@zacksiri What's the exact command you're using when trying to compile?

[2019-12-27 18:19] zacksiri commented on #180
@jtopjian I just used this one

[code]

[2019-12-27 18:33] jtopjian commented on #177
@johnlane You might have better luck using `content` instead of `source`. However, keep in mind that the `file` argument is not meant to act as a configuration management system. It's best to use `file` to bootstrap a container and then offload the functionality to a proper configuration management system.

I'm going to close this issue, but please let me know if you have any other questions.

[2019-12-27 18:33] #177 closed

[2019-12-27 18:37] jtopjian commented on #178
@nihr43 Thank you for the report. I'm unable to reproduce this issue with the Terraform configuration you provided, so I'm going to close this issue for now. I'm happy to re-open it if you run into this issue again.

[2019-12-27 18:37] #178 closed

[2019-12-27 19:07] zacksiri commented on #180
@jtopjian i noticed something strange wit the binary, the file size of the 386 version is the same as the amd64 version is the compiled binary correct? (for version 1.2.0)

[2019-12-27 19:15] jtopjian commented on #180
Before running `go get ...`, make sure you're using Go 1.11 or above and with the environment variable `GO111MODULE=on` set.

They're different:

[code]

[2019-12-27 19:30] zacksiri commented on #180
i see... ok I will try again

[2019-12-27 19:30] jtopjian commented on #179
A static IP can be configured like so:

[code]

I'm going to close this issue, but please let me know if you have any other questions.

[2019-12-27 19:30] #179 closed

[2019-12-27 19:34] zacksiri commented on #180
@jtopjian getting this error now

[code]

[2019-12-27 19:40] jtopjian commented on #180
I just tried with go 1.12 and everything worked for me. Can you try in a clean container or virtual machine?

[2019-12-27 19:41] zacksiri commented on #180
@jtopjian yeah I'm reverting down to go 1.12 now It was on 1.13

[2019-12-27 19:42] jtopjian commented on #171
I apologize for the late reply. It looks like the cause of the problem is the `name` argument in the `properties` block. Removing that does not cause the profile to be recreated.

I'm going to close this issue, but please let me know if you have any questions.

[2019-12-27 19:43] jtopjian commented on #180
Thanks for the heads-up. I'll test with 1.13 and see if I can determine what the problem is.

[2019-12-27 20:04] zacksiri commented on #180
@jtopjian I got this error when running GO111MODULE=on go get -v -u github.com/sl1pm4t/terraform-provider-lxd

[code]

[2019-12-27 20:30] zacksiri commented on #180
@jtopjian managed to get it to compile but I'm still getting the same error

Error: Failed to instantiate provider "lxd" to obtain schema: fork/exec /terraform/terraform.d/plugins/linux_amd64/terraform-provider-lxd_v1.2.0_x4: exec format error

not sure why.

[2019-12-27 20:33] jtopjian commented on #180
Can you provide any further details on how to reproduce this error? What is the Terraform configuration you're trying to apply?

[2019-12-27 20:35] jtopjian commented on #170
@wiseflat I apologize for the delay. This has been fixed and will be available in the next release.

[2019-12-27 20:35] #170 closed

[2019-12-28 02:06] zacksiri commented on #180
That's my terraform file

I'm setting the LXD config via ENV Variables
[code]

[2019-12-28 04:53] zacksiri commented on #180
@jtopjian I figured it out. it was something to do with git lfs I didn't enable git lfs when checking out my code so the binary was not included. the binary i compiled from source inside alpine container worked.

Thx much!

[2019-12-28 04:53] #180 closed

[2019-12-29 04:43] jtopjian commented on #180
@zacksiri Glad you got it figured out. Thank you for your patience!

[2020-01-07 20:00] trvon commented on #176
There seems to be an error when using OVS with wicked versus Network Manager

[2020-01-12 19:20] pshirshov opened #183 "Persistent volume?"
I wish some volumes to survive `terraform destroy`. Is there any way to achieve that?

Same applis to `lxd_cached_image` - seems like it's very inefficient to always remove them on destroy event.

Thanks!

[2020-01-16 14:51] johnlane commented on #171
@jtopjian  what about when the `name` argument is needed? I need to use this to specify the name of the interface within the container (in my example above, it would define `/dev/lab` rather than `/dev/eth0`).

[2020-01-16 15:12] jtopjian commented on #171
I suggest piecing together the correct parameters on the command-line and then translating them into the Terraform arguments. This might uncover the correct combination to use.

[2020-01-17 09:18] johnlane commented on #171
Sorry not sure I follow. Can you give me an example of what you mean.
Are you saying that specifying `name` in the `properties` is incorrect and the behaviour we are seeing is not a bug but we are instead doing it wrong?

[2020-01-17 15:23] jtopjian commented on #171
Everything you do on the command line with the `lxc` tool is possible to do in Terraform. So one way of troubleshooting this issue is to figure out how to do it with the `lxc` command and then translate it to Terraform.

If you're able to do it with `lxc` but not Terraform then, yes, this is a bug and I'll re-open the issue.

[2020-01-18 19:54] johnlane commented on #171
Ok, as I understand it there is a "lxd device name" which is the one that appears in the Terraform `device` block. There's a second, optional, "kernel interface name" which is the one that goes in the `properties` block within the `device` block. It is the latter which translates into the interface name inside the container.

Take this example
[code]
(normally one would make the names the same; I'

[2020-01-19 02:13] dgengtek commented on #171
For reference the key `name` is a valid property for most network devices in lxd: https://github.com/lxc/lxd/blob/master/doc/instances.md#device-types

[2020-01-19 04:10] jtopjian commented on #171
@johnlane Thank you for the detailed explanation. This is indeed a bug and #184 should resolve this. I'll re-open this issue until #184 passes all tests.

[2020-01-24 10:13] jtopjian commented on #171
#184 has been merged and we'll have a new official release shortly. This issue should now be fixed for real, but do let me know if you're still having problems.

[2020-01-24 10:13] #171 closed

[2020-01-29 19:28] johnlane commented on #171
@jtopjian, I just tested 1.3.0 and can confirm that the `name` key is now handled correctly. Thanks for the fix.

[2020-01-29 19:58] sl1pm4t commented on #171
Thanks @johnlane and thanks @jtopjian !

[2020-01-30 13:36] mdone-cloudian opened #185 "Check for certificate too strict."
According to the LXD people over lxc/lxd#6802, the IP in the certificate should not be checked, as it doesn't match their security model. So if I currently (LXD 3.18 or 3.19) I run `lxd init` and use 127.0.0.1 as the LXD's IP, the certificate is generated with another IP. The proposed fix for that issue is to hardcode 127.0.0.1 for all certificates, rendering all invalid if accessed via another IP

[2020-01-31 03:22] jtopjian commented on #185
It looks like this behavior was only merged upstream yesterday (https://github.com/lxc/lxd/commit/6fbaeee00292b14d3f23e2e2c2284762c543f5dd). In order for us to take advantage of this, we'll need to update the vendor dependencies and cut a new release.

Hopefully I can get around to doing this within the next week.

[2020-01-31 08:35] mdone-cloudian commented on #185
The new one yes, the old one was to generate a certificate with a non-loopback IP even when the configured ip was 127.0.0.1. In that case the cert also failed to verify as pointed in the logs above.

[2020-01-31 15:33] jtopjian commented on #185
Beyond updating the LXD libraries to take advantage of the new way certificates are generated, what else do you propose we do?

[2020-02-02 19:52] thepenguinthatwants commented on #179
For some reasons I got

`Error: Unable to create client for remote [lxd-server-1]: Get https://10.1.1.8:8443/1.0: Unable to connect to: 10.1.1.8:8443`

[2020-02-03 09:13] mdone-cloudian commented on #185
https://github.com/lxc/lxd/issues/6802#issuecomment-580250735

According to LXD's developer, the LXD client library does not check the IPs in the certificates. I'm not sure how they do that, maybe you can ask him to point you to the code.

[2020-02-03 20:11] thepenguinthatwants commented on #179
Actually I noticed that the ip's contain 10.62.176 at start and I tried this

`      "ipv4.address" = "10.62.176.55"`

and it worked thanks!! Not sure if I can get ansible to run roles on it but at least this is a good start.

[2020-02-04 04:36] jtopjian commented on #185
I'll take a look at reproducing this when I get some time and see what the best way of resolving it will be.

[2020-02-04 17:59] thepenguinthatwants opened #186 "What is the correct way to add ssh public key to the image?"
I am trying to figure out how to add ssh public keys to the image so I can run ansible roles on the images?

Some images don't contain ssh, but command should be doable for them to install one. But how should the ssh public keys be added to the image?

If I try to add them by resource profiles, then does it always need a full path on properties?

I tried to add a public key as test but it didnt wo

[2020-02-11 03:59] nihr43 commented on #186
I don't know if there's a "right way", but I'll weigh in because I use this provider and ansible heavily.

Take a look at my repo [here](https://github.com/nihr43/iac-infra).

in the top level, I have `.tf` files defining logical deployments.  For the most part, they look like this:

[code]

Notice the provisioner.  It points at [this script](https://github.com/nihr43/iac-infra/blob/master/scripts

[2020-02-11 04:11] jtopjian commented on #186
@nihr43's reply made me realize that I forgot about this issue.

Correct. There is no official way of injecting SSH keys into the LXD containers. This allows the user/administrator to choose any method they want.

@nihr43's method is the most popular: using some sort of provisioner (usually a local-exec which triggers an `lxc exec` or possibly even an `lxc file push`) to get the key inside the con

[2020-02-11 04:18] nihr43 commented on #186
Yup, thats what makes terraform such a great tool < The unix philosophy

[2020-02-11 04:32] jtopjian commented on #186
@thepenguinthatwants

My apologies - I missed this part. It looks like there are two issues: you aren't referencing the container's name in `container_name` and using the `~` to expand the home directory (the `~` won't be expanded). In addition, you need to set a `mode` or else the file won't have any permissions on it.

A working example is:

[code]

I just verified that this works, but please le

[2020-02-11 20:04] thepenguinthatwants commented on #186
Thanks!
I was just stumbling and not knowing that ~ wont expand etc. Thanks a lot guys!! Not feeling as lost as I were earlier.

[2020-02-11 20:11] thepenguinthatwants commented on #186
Thanks for the link of the repo. That Makefile itself is already so cool that it takes me time to digest those infos.

LXC playground is so nice especially for the speed of the deployments.

[2020-02-12 03:28] jtopjian commented on #185
@mdone-cloudian I apologize for the delay. I've looked into this and tried to recreate the same kind of environment you've described in https://github.com/lxc/lxd/issues/6802, but I'm unable to reproduce the issue.

The environment was set up as follows:

[code]

The generated certificate looks like this:

[code]

I'm using the stable release from snap, so the patch discussed in https://github.com

[2020-02-12 03:30] jtopjian commented on #186
@thepenguinthatwants I'm going to close this issue, but please let me know if you have any additional questions or would like to see this issue re-opened.

[2020-02-12 03:30] #186 closed

[2020-02-12 03:51] jtopjian commented on #183
@pshirshov Terraform has a `lifecycle` block that can prevent things from being destroyed:

https://www.terraform.io/docs/configuration/resources.html#lifecycle-lifecycle-customizations

[code]

But this will throw an error when you try to run destroy on an entire file and only want to keep parts of it.

Another option is to define your persistent resources in one directory and your ephemeral reso

[2020-02-12 03:54] jtopjian commented on #154
@rootexploitltd I realize this is issue is way overdue for a reply and I apologize about that. Are you able to provide the Terraform configuration to reproduce this issue?

[2020-02-12 03:56] jtopjian commented on #156
@rootexploitltd Similarly, I realize this is issue is way overdue for a reply and I apologize about that. Are you able to provide the Terraform configuration to reproduce this issue? In addition, can you provide the commands you used to set your LXD server to public?

[2020-02-12 05:54] jtopjian commented on #153
Implemented in #188

[2020-02-12 05:54] #153 closed

[2020-02-15 10:39] thepenguinthatwants commented on #186
Hi!

Sorry for asking another noobish question. I've tried to add a key to the container but so far being stuck with this.
[code]
  Error: Incorrect attribute value type. Quite sure its just a simple mistake but cant figure out what.

[2020-02-15 11:02] thepenguinthatwants commented on #186
Hi guys!

Thanks for helping.

I managed to get the key to authorized_keys file, but for some reasons I still cant ssh in.

[code]

Trying to ssh in I get

` Permission denied (publickey).`

But the file is there in the server.

  image = "ubuntu:18.04"

[2020-02-15 11:34] thepenguinthatwants commented on #186
Hi!

As many images doesnt have ssh server enabled normally and the guides says to manually prepare a base image that includes SSH. Is remote exec as it is known as bad idea to install ssh server for this matter?

Also after making own images are there good public hosting solutions for own custom lxc images so its easy to download using terraform configs?

[2020-02-16 22:48] jtopjian commented on #186
Nope - not at all.

Probably, but I don't have much experience with hosting public LXD image servers. I recommend checking out the official LXD community forums for ways of doing this.

[2020-02-17 10:26] mdone-cloudian commented on #185
I'm using terraform-provider-lxd_v1.2.0, should I upgrade to 1.3.0?

[2020-02-17 15:15] jtopjian commented on #185
Sure, you can try that. But if you're still having the same issue, please let me know how to reproduce your environment so I can further troubleshoot.

[2020-02-17 20:25] thepenguinthatwants commented on #186
Hi!

Thanks for the reply and sorry for continuing bothering.

I tried running this but remote exec was not expected?

Is there some special requirement with this?

[code]

I get

`Blocks of type "provisioner" are not expected here.`

[2020-02-17 21:23] jtopjian commented on #186
Typically when using remote-exec provisioners, you need to be aware of the connection information: https://www.terraform.io/docs/provisioners/connection.html

Some resources are able to automatically detect certain attributes about a created resource (such as whether to use ssh, the IP address, etc) but you generally can't rely on this. You can see from the following error that an IP address was n

[2020-02-19 20:38] thepenguinthatwants commented on #186
Thanks for the very comprehensive answer. I really like terraform to be able to use implicit dependency as it can in a way understand how to build the whole picture.

In lxd_profile.md  I managed to make a profile that could make containers to get shared folder to work. As this would prove to be very good development and testing enviroment.

[code]

But I noticed that unless I use this command in

[2020-02-20 20:26] thepenguinthatwants opened #190 "[FEATURE REQUEST] lxd_snapshot ability to restore from a snapshot"
Hi guys!

I've noticed that lxd_snapshot is able to create new snapshots but unable to revert images into the snapshot state.

Is it possible to make it that if a snapshot exists with the same name then it will revert image to the snapshot state? Or have a argument to make it revert back into the stage of the snapshot if exists?

[2020-02-20 23:14] jtopjian commented on #190
@thepenguinthatwants Can you provide an example of how this would be used?

Generally speaking, Terraform manages the full lifecycle of resources. So situations where something already exists are usually not good candidates to be done by Terraform.

[2020-02-25 19:21] thepenguinthatwants commented on #190
Hi!

I was thinking about that if it uses an lxc image that already exists with snapshots it could choose and use that snapshot. Like easily swapping from different snapshots that are in different states.

[2020-02-26 03:37] jtopjian commented on #190
Ah, I see. You're right in that this provider currently provide any sort of "restore" support with snapshots. We'll have to think about a good way to integrate it.

[2020-03-02 09:20] sanjaymp18 opened #191 "Unable to create multiple container from an image"
Using terraform, In modules main .tf is as below:

variable "name" {}
variable "cluster_name" {}
variable "image" {}
variable "cpu" { default = 1 }
variable "memory" { default = "1GB" }

resource "lxd_container" "conatiner" {
  config     = {}
  ephemeral  = false
  limits     = {
      "memory" = "128MB"
      "cpu" = 1
  }
  config = {
    "boot.autostart" = true
    "security.privileged" = true

[2020-03-03 03:44] jtopjian commented on #191
@samp-git18 Using the simplified Terraform configuration below, this works for me:

[code]

From the error messages you provided:

[code]

I'm wondering if this has something to do with LXD's clustering? If so, this provider is not compatible with LXD clustering (yet).

[2020-03-03 06:17] samp-git18 commented on #191
@jtopjian  Yes your right, this is related to LXD clustering, the problem is every-time the main.tf is executed, the image is downloaded so due to clustering the images are shared so the 2nd attempt to downloading fails, so i couldn't think of a workaround for it, thus seeking advice on it.

[2020-03-21 07:34] thepenguinthatwants opened #192 "Good way to get shared folder to work?"
In lxd_profile.md I managed to make a profile that could make containers to get shared folder to work. As this would prove to be very good development and testing enviroment.

[code]
But I noticed that unless I use this command in the host the lxc image wont be able to write on the location

`chmod -R go+w`

the whole folder has this rights if checked from the container
drwxr-xr-x 2 nobody nogroup

[2020-03-23 20:11] nihr43 commented on #175
I'm on lxd `3.22` now and containers seem to be getting distributed evenly with no workarounds.

[2020-03-23 20:11] #175 closed

[2020-05-13 09:28] arren-ru opened #193 "LXD provider does not work with "linux.kernel_modules" config property"
When I use `linux.kernel_modules` in the `config` section of the `lxd_container`, provider passes it to LXD and properly creates the container, but after checking that the plan is equal to the applied state the property is absent in the state and as a result it produces changes.
As for "linux.kernel_modules" property it tries to re-create the container which is not valid behavior in this circumsta

[2020-05-24 16:45] shawnweeks commented on #185
I'm getting the opposite error message on the current stable release from snap 4.1. I didn't pick 127.0.0.1 as the ip address and i used all defaults on a brand new install of Ubuntu 20.04.

`Error: Failed to join cluster: Failed to setup cluster trust: failed to connect to target cluster node: Get "https://10.0.2.17:8443/1.0": x509: certificate is valid for 127.0.0.1, ::1, not 10.0.2.17`

[2020-05-25 03:32] #193 closed

[2020-05-31 16:45] thepenguinthatwants opened #196 "I tried to run to run terraform apply after updating the plugin, but only get incompative api version error."
Error: Failed to instantiate provider "lxd" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]

[2020-05-31 16:46] #196 closed

[2020-06-01 18:12] thepenguinthatwants opened #197 "Error waiting for container (ubuntu) network information: timeout while waiting for state to become 'OK' (last state: 'NOT FOUND', timeout: 3m0s)"
Hi!

I reinstalled my desktop and tried to run this simple terrafom setup but it still fails.

[code]

Not sure what is the cause of this.

`Error waiting for container (ubuntu) network information: timeout while waiting for state to become 'OK' (last state: 'NOT FOUND', timeout: 3m0s)`

Any idea how to further debug?

My lxc should work fine as I could launch an image by. I've reinstalled my lapt

[2020-06-02 14:28] thepenguinthatwants commented on #197
My lxc should work fine as I could launch an image by. I've reinstalled my laptop so I might have something that I missed.

`lxc launch ubuntu:18.04`

[code]

[2020-06-02 15:10] #192 closed

[2020-06-02 17:28] thepenguinthatwants commented on #168
Hi!

I for some reason gotten same error but being trying to debug few days without help. Seems like my case wasnt about setting up bridge as I already had that. Do you remember what else did you try?

[2020-06-02 18:08] thepenguinthatwants commented on #197
From the image it seems that based on the image normally it contains

`ifconfig`

`inet 10.62.176.15  netmask 255.255.255.0  broadcast 10.62.176.255`

Something like this is missing but other infos are there. What might cause such behaviour? Other lines stayed the same.

[2020-06-02 18:30] jtopjian commented on #197
@thepenguinthatwants I was able to create an Ubuntu 18.04 virtual machine, install LXD, and have the configuration you provided successfully create a container:

[code]

contents of main.tf:

[code]

then:

[code]

I'm not sure of the issue you could be running into based on the information you've provided.

[2020-06-04 20:43] thepenguinthatwants commented on #197
The problem was because I had dnsmasq enabled and it somehow messed it up. So I disabled the service and its now good.

[2020-06-04 20:43] #197 closed

[2020-06-22 18:00] thebinary opened #198 "[FEATURE REQUEST] publish an image from container"
I have a case where my infra deployment would benefit from creating multiple containers from a common image with some base provisioning done on it.

It would be easier if I could create a base cached image from a container with some provisioning done on it, and then deploy other containers with that base cached image.

[2020-06-22 22:44] sl1pm4t commented on #198
It sounds like packer can do what you need:
https://www.packer.io/docs/builders/lxd

[2020-06-22 22:48] pshirshov opened #199 "`lxc.apparmor.allow_nesting` and many other attributes seem to be unsupported"
[code]

leads to

[code]

Though it's a valid option.

[2020-06-22 22:51] #199 closed

[2020-06-22 22:51] pshirshov commented on #199
Sorry, found `raw.lxc`

[2020-06-24 04:53] thebinary commented on #198
I still think it might be useful in cases of intermediately required images for a project. so that the complete infrastructure could be built, planned and destroyed with terraform itself.

[2020-06-24 16:04] jtopjian commented on #198
I agree with @sl1pm4t in that this is best implemented with Packer.

While this is something that Terraform could possibly do, it's probably not the best way of implementing Terraform. Terraform is best used to "apply" a defined set of infrastructure and maintain state of that infrastructure - not necessarily implementing workflows or processes.

HashiCorp's official workflow includes using Packer

[2020-06-25 16:59] thebinary commented on #198
Yes I do agree. Thank you @sl1pm4t and @jtopjian

[2020-06-27 19:18] gabrielcristache opened #200 "Cannot set interface names in lxd_container"
I want to launch a basic terraform topology with 1 lxd_container, 1 lxd_network and for testing purposes also added 1 lxd_profile.

Basically I try in 2 ways to create custom named interfaces in the container. Interface `eno1` through and `lxd_profile` and `eno2` through a defined `device` within the container config definition:

The file looks as such:
[code]

After a succesfull `terraform apply`

[2020-06-29 15:50] gabrielcristache commented on #200
I missed on specifying in **device.properties** the name of the interface, as seen by the container.
After adding the **device.properties.name** field, the interface name would take the specified value.
This information is pointed out here: https://github.com/lxc/lxd/blob/master/doc/instances.md#nictype-bridged

[2020-06-29 15:50] #200 closed

[2020-07-18 00:55] otopetrik opened #201 "Unable to use "lxd_network" with existing bridge (unmanaged)"
It looks like there is no *clean* way to use existing bridge - like virbr0 provided by libvirt (or similar bridge configured using systemd-networkd).
The bridge is already automatically available to lxd, listed in `lxc network show virtbr0` (with `managed:false`).

- lxd_network create fails (`Error: The network already exists`)
- `terraform import lxd_network` does not work (`Error: resource lxd_

[2020-08-24 14:14] jgraichen opened #202 "Support LXD 4.0 virtual machines"
LXD 4.0 introduced virtual machine support. A new "instances" API had been added to manage containers and virtual machines using a uniform interface. I'd like to have the ability to manage LXD virtual machines with this provider too.

A very small quick fix would be adding a type field to `lxc_container` resources and using the new API (draft available in [00c38a8](https://github.com/jgraichen/ter

[2020-08-24 15:01] jtopjian commented on #198
I'm going to close this issue, but happy to discuss this further.

[2020-08-24 15:01] #198 closed

[2020-08-24 15:01] jtopjian commented on #185
I'm going to close this issue, but I can re-open this if needed.

[2020-08-24 15:01] #185 closed

[2020-08-24 15:02] jtopjian commented on #183
I'm going to close this issue, but happy to re-open or discuss further if needed.

[2020-08-24 15:02] #183 closed

[2020-08-24 15:03] jtopjian commented on #191
Since this is related to clustering, I'm going to close this issue since there are other issues already opened about the Clustering API. I can re-open this or discuss further if needed.

[2020-08-24 15:03] #191 closed

[2020-08-24 18:34] jgraichen commented on #202
It is not a standalone API for virtual machines, it is a new API to manage containers & virtual machines (https://lxd.readthedocs.io/en/latest/rest-api/#instances-containers-and-virtual-machines). This API creates virtual machines just like containers based on an additional `type = container | virtual-machine` attribute. Both instance types support the same configuration options, etc.

Having a si

[2020-08-24 18:53] jtopjian commented on #202
Right, understood.

I haven't read the API in detail nor looked up the actual function calls in the LXD library, so I might be missing key information.

With creating containers, there was both REST API endpoints and Go code in the LXD client library (example: https://github.com/sl1pm4t/terraform-provider-lxd/blob/master/lxd/resource_lxd_container.go#L268) to create containers. Side note: this pro

[2020-08-24 20:21] jgraichen commented on #202
The LXD client practically has three exact copies of the same API. Except for the `type` field they are identical. The LXD client actually falls back to the container REST API if using the instances golang API if the server is old:

[code]

They do not even wrap anything but just use a different path.

Method are just copied, as seen in the very small [diff](https://github.com/jgraichen/terraform-

[2020-09-05 17:29] brandonros opened #203 "Error: Failed to install provider"
[code]

[code]

[code]

[code]

[2020-09-05 17:33] brandonros commented on #203
had to add

[code]

[2020-09-05 17:36] jtopjian commented on #203
That's not this provider... someone appears to have forked this provider and published it to the registry.

@sl1pm4t Can we look at getting this published to the registry? We should also contact HashiCorp about the other one being published, too.

[2020-09-05 18:08] brandonros opened #204 "Container can't ping/reach Internet"
[code]

[code]

[2020-09-05 18:43] jtopjian commented on #203
The following workaround works for now:

[code]

And then in the `.tf` file:

[code]

[2020-09-05 19:11] jtopjian commented on #204
@brandonros I'm unable to reproduce this in my environment. Short of changing the mountpoint of the storage pool, I ran this configuration verbatim.

[code]

LXD should already be installed with a default bridge configuring for NAT. Are you able to create a container that uses the default profile and gain access to the internet?

[2020-09-08 17:54] brandonros commented on #204
Can you give me a few sample commands I should run to give that a try? This is a fresh install of Debian 10 with no other prior lxc/lxd setups.

[2020-09-08 17:55] brandonros commented on #203
not sure if you wanna document this on the README for future users? :D

[2020-09-08 18:15] jtopjian commented on #203
Yeah, once we get this published to the registry I'll update the README accordingly. 😄

[2020-09-08 18:15] jtopjian commented on #204
How are you installing LXC on Debian? Are you using an apt pkg or snap?

[2020-09-08 18:20] brandonros commented on #204
https://linuxcontainers.org/lxd/getting-started-cli/

only mentions snap

I'd prefer to not use snap if you have an alternative but I couldn't find a method

[code]

[2020-09-08 18:25] jtopjian commented on #204
OK, cool. I didn't know if Debian had a different installation method.

Also to confirm, did you run

[code]

After installation? That will prompt you with a few questions. Choosing the default answer for everything will set you up with an environment that can create containers and have NAT'd access to the internet.

[2020-09-08 18:30] brandonros commented on #204
[code]

how does that look?

[2020-09-08 18:32] brandonros commented on #204
[code]

[code]

same problem :(

[2020-09-08 18:36] jtopjian commented on #204
Are you able to launch a container outside of Terraform and have it reach the internet?

[2020-09-08 19:07] jtopjian commented on #204
I created an Ubuntu 18.04 vm and did an `lxd init`. This is the resulting configuration from choosing all defaults:

[code]

With that set up, I do:

[code]

I haven't installed Terraform on this server yet. I'd like to first confirm that you can get working containers in general and then we can look at Terraform.

[2020-09-22 20:01] thepenguinthatwants opened #208 "This provider is not supported on terraform version 13?"
Hi guys!

After debugging a bit I've noticed that starting from 0.13 version of terraform I cant use this provider.
Is this a known issue?

[2020-09-23 03:12] jtopjian commented on #208
@thepenguinthatwants Yes, please see #203. It also contains a workaround for the time being. @sl1pm4t is working on the steps needed to resolve this when he has time.

I'm going to close this in favor of #203 but let me know if you have any questions.

[2020-09-23 03:12] #208 closed

[2020-10-22 09:06] mdone-cloudian opened #211 "Cannon apply changes to lxd_network resouces?"
I just run `terraform` with this config:

[code]

Luckily it went all fine. Now I added this line:

[code]

to the `config` block of the network resource, run `terraform` again and:

[code]

I tried to add a dep between the container and the network and vice versa, but I still get the same error. Any ideas what could be wrong here?

[2020-10-22 15:09] jtopjian commented on #211
Coincidentally, this was recently fixed in https://github.com/sl1pm4t/terraform-provider-lxd/pull/210. The next release will have this patch added.

[2020-10-22 15:36] mdone-cloudian commented on #211
ack.

[2020-10-22 15:36] #211 closed

[2020-10-22 23:09] 6aKa commented on #202
Will this functionality be implemented?

[2020-10-27 12:34] mdone-cloudian commented on #211
@jtopjian any ETA for this new release? I'm having this issue many times a day.

[2020-10-27 13:58] jtopjian commented on #211
@mdone-cloudian I don't have an ETA, sorry. @sl1pm4t is on vacation at the moment and once he gets back, he should be able to create a release.

[2020-11-02 07:56] arren-ru commented on #203
@brandonros that binary was published by me when I found that new versions of terraform required repository and I didn't know about workaround as was suggested by @jtopjian. Anyway that provider was built on top of master branch forked from this repo. There is no custom changes.
When Joe will release his provider in his repo namespace, I recommend to switch and use it instead of mine.

[2020-11-02 19:50] jtopjian commented on #203
@arren-ru All good - thanks!

@sl1pm4t is on vacation at the moment, but I hope to be able to get this published to the registry soon.

[2020-11-14 21:39] kikitux opened #213 "add dns.search"
thanks for this amazing tf plugin

if possible would be nice to have `dns.search` option

https://github.com/lxc/lxd/blob/master/doc/networks.md

[code]

[2020-11-19 15:25] arren-ru commented on #203
Trying to keep it fresh in terraform registry https://registry.terraform.io/providers/arren-ru/lxd/1.4.0

[2020-11-22 08:09] arren-ru opened #214 "Can't create macvlan or other type of networks with lxd_network"
Seems to be lxd_network does not support to set type of network
Using this resource definition:
[code]
I've got an error:
[code]

Seems to be there is need to rework the lxd_network resource.

[2020-12-01 21:32] atomlab commented on #21
Hi. Is there planing to add some option to disable destroy container when config updated?

[2020-12-03 13:55] atomlab commented on #21
@jtopjian Can you give possibility to choose? In my case more prefer to do not destroy LXD container with database.

A have added this options and my container have been destroyed. That is really  dangerous!

[code]

[2020-12-03 15:58] jtopjian commented on #21
@atomlab I can certainly review and merge a Pull Request for this. But I have not had time to look at implementing this myself.

I do sympathize with having a resource destroyed when it should not have been. Terraform should have notified you that the resource would have been destroyed and if you wanted to proceed.

As a workaround, you could use the `lxc` command-line tool to apply these changes

[2020-12-03 16:53] atomlab commented on #21
@jtopjian Thanks a lot for you answer!  `terraform plan` warns about that the resource would have been destroyed. I just wasn't expect this behaviour. Recreate lxd containers every time is not comfortable when config changed.

Yes, it works, but it additional step needed ssh on server instead of use LXD api only.

I understand status of this issue now. Thank you!

[2020-12-05 22:05] jgraichen commented on #213
Did you try adding it to the network config?

[code]

[2020-12-09 17:16] necrose99 opened #217 "arm64 add to releases"
[**linux/arm64** ](https://raw.githubusercontent.com/sl1pm4t/terraform-provider-lxd/master/Makefile)

**https://releases.hashicorp.com/terraform/0.14.2/terraform_0.14.2_linux_arm64.zip**

[2020-12-12 22:30] jtopjian commented on #203
Looks like we're good to go: https://registry.terraform.io/providers/terraform-lxd/lxd

The README has been updated with basic instructions: https://github.com/terraform-lxd/terraform-provider-lxd

Please let me know if anyone has any questions or runs into any problems. Thank you for your patience!

[2020-12-12 22:30] #203 closed

[2020-12-12 22:31] jtopjian commented on #217
This has been included in the latest release: https://github.com/terraform-lxd/terraform-provider-lxd/releases/tag/v1.4.1

[2020-12-12 22:31] #217 closed

[2020-12-12 22:42] jtopjian commented on #214
@arren-ru The config details are passed directly to LXD. The error you're seeing:

[code]

Is coming from the LXD service itself, not Terraform. I recommend walking through the steps for creating a macvlan-type network using the command line, then viewing the configuration details (`lxc network show <name>`) and seeing if there are any other configuration details missing.

One possibility is that

[2020-12-12 22:51] jtopjian commented on #213
@jgraichen's answer should work here. Any key listed in that documentation is able to be added to the `config` block.

I'm going to close this issue, but let us know if you have any problems.

[2020-12-12 22:51] #213 closed

[2020-12-12 22:53] jtopjian commented on #204
@brandonros As I wasn't able to reproduce this problem, I'm going to close this issue. However, do let me know if you are still having issues and we can look into it again.

[2020-12-12 22:53] #204 closed

[2020-12-12 22:53] #111 closed

[2020-12-12 22:58] jtopjian commented on #154
I'm going to close this issue but I'm happy to re-open it if you're still running into this problem and can provide a Terraform configuration to help reproduce this.

[2020-12-12 22:58] #154 closed

[2020-12-12 22:58] jtopjian commented on #156
I'm going to close this issue but I'm happy to re-open it if you're still running into this problem and can provide a Terraform configuration to help reproduce this.

[2020-12-12 22:58] #156 closed

[2020-12-12 23:05] jgraichen commented on #214
I think the problem might be that the `type` attribute of `lxd_network` cannot be set but only computed. LXD will therefore always trying to create a bridge network that does not support the `parent` option.

It might need a change to allow something like this:

[code]

This would be similar to `lxc network create <name> --type=macvlan [options...]` as seen [here](https://lxd.readthedocs.io/en/lat

[2020-12-12 23:19] jtopjian commented on #214
You're right. This should be easy to do - I think the version of the LXD client API that we have pinned in `go.mod` will support this. I'll look at modifying this argument once the other PRs are merged.

[2020-12-13 01:16] jtopjian commented on #214
This should be working in #220, but please let me know if you're still having problems.

[2020-12-13 01:16] #214 closed

[2020-12-13 08:18] jtopjian commented on #145
I'm going to close this issue but I'm happy to re-open it if you're still running into this problem.

[2020-12-13 08:18] #145 closed

[2020-12-13 21:25] jtopjian commented on #164
This should be implemented in #222 and will be available in the next release. Though please let me know if anyone has any issues.

[2020-12-13 21:25] #164 closed

[2020-12-13 23:24] jtopjian commented on #161
This has been implemented in #224 and will be available in the next release.

[2020-12-13 23:24] #161 closed

[2020-12-13 23:27] jtopjian commented on #201
I've implemented basic support for importing networks in #226.

This will be available in the next release and it should resolve this issue for you. If you're still having problems, please let me know.

[2020-12-13 23:27] #201 closed

[2020-12-14 12:01] jgraichen commented on #202
Shall we close this issue as #215 is merged and handle `config` changes or a new resource separately?

[2020-12-15 03:05] jtopjian commented on #202
Sure, sounds good to me.

[2020-12-15 03:05] #202 closed

[2020-12-15 19:35] jtopjian commented on #21
I've just merged #227 which should take care of this. It'll be available in the next release.

Please let me know if anyone runs into any issues.

[2020-12-15 19:35] #21 closed

[2020-12-17 23:34] jtopjian commented on #84
This should now be resolved in #227.

[2020-12-17 23:34] #84 closed

[2020-12-20 19:35] rossrochford opened #229 "terraform destroy crashes"
When I run `terraform destroy` on a single lxd_container instance, terraform crashes.

main.tf

[code]

crash.log

[code]

[2020-12-20 19:51] rossrochford commented on #229
My issue seems to go away when I set ephemeral = false

[2020-12-21 03:40] jtopjian commented on #229
@rossrochford Thanks for reporting this. I can confirm and reproduce the issue.

The cause is that when an ephemeral container is stopped, the container is removed. When this provider attempts to delete the container, it no longer exists and the crash happens.

[2020-12-21 15:39] jtopjian commented on #229
This has been fixed in #230 and will be available in the next release.

[2020-12-21 15:39] #229 closed

[2020-12-21 17:52] adamcstephens commented on #202
Thanks for getting this updated and released. I successfully used it over the weekend.

[2021-01-10 17:27] kikitux commented on #213
hello @jgraichen @jtopjian

i tried, but i get this error

[code]

i am using
[code]

code

[code]

i tried with code above and get same error

[code]

[2021-01-11 10:48] thepenguinthatwants opened #231 "How to use centos image? I could get ubuntu work but not centos"
Hi guys,
I've being usually using it like
`   image = "ubuntu:18.04"`
And it works

[code]

I tried many different ways to write centos but it just says image not found.
When running manually in terminal
`lxc launch images:centos/7 test`
worked

Any clue why its like this?

[2021-01-15 16:40] mbwe commented on #231
You should change the following line from:

image = "centos/7"

to

image = "images/centos/7"

You can only reference Ubuntu images directly.

[2021-01-17 14:51] #231 closed

[2021-01-26 22:06] kikitux commented on #213
@jtopjian @jgraichen

[2021-01-27 09:45] jgraichen commented on #213
This is still your LXD server rejecting the config. The provider only pass the options to the server.

[code]
[code]

[code]

Can you create the network with your option *without* the plugin, e.g. using the `lxc` command line client?

[2021-01-27 20:55] kikitux commented on #213
hey!

thanks for the pointer, didnt realize this was coming from LXD.
I was on LXD 3. After upgrade to 4.10 is working

thanks again for the follow up and info

[2021-03-12 08:19] pek89 opened #233 "LXD Profile - CLOUD-INIT configuration"
Hi guys

I was wondering if it was possible to insert the "cloud-init" configuration into the "lxd_profile" resource where to list all the "authorized_keys" to trust the containers belonging to that particular profile? I enclose an example.

![cloud_init_lxd_profile](https://user-images.githubusercontent.com/80484638/110911606-36af2f80-8313-11eb-8d69-b90784f8a22d.png)

If it is already possible, h

[2021-03-12 11:29] pek89 commented on #233
Hi Guys,

I solved it this way

[code]

[2021-03-12 15:32] jtopjian commented on #233
You can also use a heredoc format: https://www.terraform.io/docs/language/expressions/strings.html#heredoc-strings

I'm going to close this issue, but please us know if you have any other questions.

[2021-03-12 15:32] #233 closed

[2021-05-13 08:37] weastur opened #234 "[QUESTION] Why config changes cause container re-creating?"
Hello! First, thank you for your work, this is an awesome project. But I have a little question: why config changes cause container recreating? Many config options apply on the fly, maybe, in some cases, need to restart the container, not re-create. Thanks.

[2021-05-29 22:33] jadjay opened #235 "[QUESTION] Is it planned to manage projects through lxd provider"
Hi,

[LXD Projects](https://linuxcontainers.org/lxd/docs/master/projects) ([src1](https://lxd.readthedocs.io/en/latest/projects/), [src2](https://ubuntu.com/tutorials/introduction-to-lxd-projects#1-overview)) make it possible to manage multiple namespace in one LXD server (e.g. : dev/preprod/prod, or Client1/Client2/Client3 , or proj-1002/proj-2048).

It's seems very useful to separate things, as

[2021-05-29 22:40] jadjay commented on #235
Now thinking about it, "LXD projects" are used through a "switch" method... So I think the simpler solution would be to set a "project" variable in the provider definition.

[code]

Projects have to be already set through preseed init before terraform deployement, and if a project come after you just need to add a new remote.

What do you think about that ?

Regards,

[2021-06-01 18:21] thepenguinthatwants opened #236 "Failing to initialized after installing using go get."
I tried to initialize after updating or installing  using the command  and updating terraform.

`go get -v -u github.com/terraform-lxd/terraform-provider-lxd`

[code]

[code]

I've also updated terraform from version 0.12 to 0.15.4.

[2021-06-01 18:22] thepenguinthatwants commented on #236
Altho I updated my terraform from version 0.12 to 0.15.4.

[2021-06-01 18:24] jtopjian commented on #236
@thepenguinthatwants Have you configured Terraform with the following: https://github.com/terraform-lxd/terraform-provider-lxd#quick-example ?

[code]

[2021-06-01 18:26] thepenguinthatwants commented on #236
I've downgraded terraform back to the old 0.12 version and it  worked again. I guess there are some syntax changes after version updated.

[2021-06-01 18:27] thepenguinthatwants commented on #236
Thanks, after adding your block it works. I guess I should be more active reading the changes.

[2021-06-01 18:27] #236 closed

[2021-06-01 18:32] jtopjian commented on #236
No problem - glad it worked 🙂

[2021-06-04 07:12] matjazp commented on #235
As a workaround, you can manually connect and set lxc client on your machine (the machine you're running terraform from), and set project in lxc client config  (usually ~/.config/lxc/config.yml). From terraform you then just reference this connection to the remote lxd server. You need to create one connection for each project, so this is far from ideal setup.

[2021-06-04 07:37] jadjay commented on #235
This solution requires a lot of "manual" /"semi manual" operations,
So yes: very farfrom ideal...

[2021-06-09 18:43] awildfivreld commented on #26
For other people that land here from google, the above code example has a missing a = at properties. This is correct syntax:

[code]

[2021-07-04 23:42] opticoder commented on #235
+1 for implementing projects managing

[2021-07-07 08:42] arren-ru commented on #235
I don't think that the project should be in remote section because resources are bounded to the project not to the remote.
Just imagine what happened if you will change remote connection settings? I think nothing except for the project value.
So, maybe it should be specified as a additional field in all resources?
Or maybe it should be represented as additional provider not a remote.

[2021-07-07 16:41] jtopjian commented on #235
Hi folks,

I have not had time to look into this. If someone else is able to, I would be happy to review.

I recommend reviewing the "project" API to determine the scope/context in which resources can be managed via projects. If a project is scoped during the connection phase, then having it in the "remote" is the best solution.

If it is possible to specify a project during each API call (eg when

[2021-07-08 06:16] arren-ru commented on #235
Would like to dig into it

[2021-07-09 15:16] SwannCroiset commented on #234
Hey here, this would be very handy to have such option.

eg. `config_update_policy: REPLACE|IGNORE`

(similar to OpenStack Heat)

thanks for this provider :ok_hand:

[2021-08-10 07:22] imanazari70 opened #237 "lxd_container_file does not upload the file to container"
Versions
Terraform: 1.0.4
LXD Provider: 1.5.0 (latest download from releases' page)
Terraform Driver Machine: ubuntu16.04
LXDHost Machine: Ubuntu 16.04 (LXD: 2.0.11)

resource lxd_container_file does not work.

The following doesn't work:

resource "lxd_container_file" "postinstall" {
  container_name     = "${lxd_container.mylxd1.name}"
  content            = "${file("postinstall")}"
  target_fil

[2021-08-10 16:45] jtopjian commented on #237
This error looks to be an LXD configuration issue rather than a Terraform issue. It appears that `directory_manipulation` is an [API extension](https://linuxcontainers.org/lxd/docs/master/api-extensions).

If you're using Ubuntu 16.04 and LXD 2.0.11, maybe it's too old of a version and does not have this API extension?

[2021-08-11 05:15] imanazari70 commented on #237
I was able to fix this problem by upgrading lxd to version 3.1.
thanks.

[2021-08-11 05:15] #237 closed

[2021-08-13 00:00] c10l commented on #235
I'm also interested in this.

Looks like the project is passed as a URL parameter. This is from `lxc network list --debug`:

[code]

[2021-08-13 01:24] c10l commented on #235
Found the [Swagger docs](https://linuxcontainers.org/lxd/api/master/) for the API, `project` is declared as a parameter in many but not all endpoints.

I believe having it as an argument everywhere it's supported is good, but it may be useful to set it in the provider and use that as a default unless overridden locally to a resource.

[2021-10-27 13:42] mdione-cloudian opened #244 ""Invalid plan"?"
[code]

Terraform v1.0.9
terraform_lxd v1.6.0
LXD v4.19

So I think all is up to date. Let me know if you need my config.

[2021-10-27 13:54] mdione-cloudian opened #245 "Can't create containers anymore."
Might be related to #244.

Terraform v1.0.9
terraform_lxd v1.6.0
LXD v4.19

This is the reported error:

[code]

Here's a minimized config:

[code]

The network is created fine. For the nodes, I can see this in the trace logs:

[code]

So it seems it can see the go from ??? to Running state, but not from Running to OK state. Let me know if you need more info.

[2021-10-29 13:44] kosukekurimoto opened #246 "Container only gets one static address."
I have set up two static IP address interfaces in the container.
[code]

However, the container only gets one address.
[code]

[2021-11-09 11:53] mdione-cloudian commented on #244
It was a kernel/distro issue: new Ubuntu 21.10 has disabled cgroups v1, and both LXD and docker were refusing to 'boot' CentOS 7.x. I'm not sure if it's an issue with LXD and docker, or CentOS7's systemd not running on cgroups v2 only systems.

[2021-11-09 11:53] #244 closed

[2021-11-09 11:54] mdione-cloudian commented on #245
See https://github.com/terraform-lxd/terraform-provider-lxd/issues/244#issuecomment-964080938

[2021-11-09 11:54] #245 closed

[2021-11-21 08:19] gpl opened #247 "Change size of rootfs without specifying source"
We're attempting to create a vm with a specific size rootfs without invoking a profile, but it looks like this is not allowed as `source` is required.

tf error:

[code]

Source config:
[code]

[2021-11-21 08:30] gpl commented on #247
Closing as looks like an issue in upstream LXD.  I guess you can't specify root fs params on load without a profile?

[2021-11-21 08:30] #247 closed

[2021-11-21 08:40] gpl commented on #247
( we forgot to define properties.path = "/" )

[2021-12-13 18:52] dsx opened #249 "VM support"
LXD v4.x has support for [VMs](https://discuss.linuxcontainers.org/t/running-virtual-machines-with-lxd-4-0/7519). Are there plans to add support for VMs to the LXD Terraform provider?

[2021-12-16 08:44] jtopjian commented on #249
This should already be supported via the `type` parameter in `lxd_container`: https://github.com/terraform-lxd/terraform-provider-lxd/blob/master/docs/resources/container.md

[2021-12-16 18:29] stachdude opened #250 "Ceph storage driver"
Hi all,

Is there a chance for ceph to be added as a storage driver ?

[2021-12-17 09:38] matjazp commented on #249
I'm using it to deploy VMs and it works as expected.

[2021-12-17 16:29] dsx commented on #249
Oh, my bad! Thanks a lot @matjazp and @jtopjian!

[2021-12-17 16:29] #249 closed

[2021-12-20 01:26] WarpWing opened #251 "Cloud Init Support"
Hi all!

Is there a way to reference a cloud-init file when creating an lxd container? I couldn't find it in the documentation.

[2022-01-20 01:11] rhass commented on #251
You might be able to do something like:

[code]

Once you have that, you can use that profile in addition to any other profiles you may have.

[2022-01-21 15:31] WarpWing commented on #251
It works! Thanks for your help!

[2022-01-21 15:31] #251 closed

[2022-01-22 12:53] billgrant opened #253 "Request to add Apple M1 support"
Hello,

Is there plans or would it be possible to add "darwin_arm64" support to the provider?

`Initializing Terraform Cloud...

Initializing provider plugins...
- Finding latest version of terraform-lxd/lxd...
╷
│ Error: Incompatible provider version
│
│ Provider registry.terraform.io/terraform-lxd/lxd v1.7.0 does not have a package available for your current platform, darwin_arm64.
│
│ Provider

[2022-01-25 11:06] matjazp commented on #253
I've built it manually (Go 1.17 on MacBook Pro M1), and it works (at least for my use cases).

@jtopjian I think we could get darwin/arm64 version automatically with just upgrading Go to at least 1.16? Goreleaser should automatically build for darwin/arm64 if go version is >=1.16. This is in CICD logs:

[2022-02-08 21:48] jtopjian commented on #253
Sorry for the delay - I'm looking into this now.

[2022-02-09 00:20] jtopjian commented on #253
I've just released version 1.7.1 which looks to have `darwin/arm64` support. Can someone confirm that it's working?

[2022-02-09 01:45] billgrant commented on #253
It works for me on an M1
`Initializing provider plugins...
- Finding latest version of terraform-lxd/lxd...
- Installing terraform-lxd/lxd v1.7.1...
- Installed terraform-lxd/lxd v1.7.1 (self-signed, key ID 62BC1162214B5D1E)`

[2022-02-09 16:14] jtopjian commented on #253
Awesome - thanks so much for testing!

I'm going to close this issue but please let me know if you have any problems.

[2022-02-09 16:14] #253 closed

[2022-03-07 16:16] johnlane opened #256 "Create symbolic link inside container before starting it"
I'm looking for a way to create a symbolic link inside a contaier before it is started, similar to how files may be copied in.

There isn't an equivalent `lxc` command for this but [it can be done](https://discuss.linuxcontainers.org/t/create-symlink-in-stopped-container/13498) using `curl`:

[code]

I don't know if it's possible to execute such a `curl` command using Terraform? It would need to e

[2022-03-27 22:06] lgprobert opened #257 "lxd_cached_image support of "virtual-machine" type image?"
Currently LXD brings VM type image support with new attribute "Type" which has two possible values: `["virtual-machine", "container"]`. On CLI, we pull VM image with additional argument `--vm`.

Without support of this new attribute, every pull will just download **container** type image to local. Adding a `type` argument should provide the support of cache VM type image.

Ideally adding a `finger

[2022-05-02 14:19] Eihrister opened #258 "Config keys not seen and continously replaced."
Hello!

Since I use static MAC-addresses when building up and tearing down the same containers over and over, I would like to set the hwaddr of the network interface through Terraform. It works, but the lxd module doesn't seem to see that it's already set when I "plan".

[code]

Resource config:

[code]

And this works, however, on consequent "plan" or "apply" runs:

[code]

This shouldn't pop up?

[2022-05-05 19:00] dontlaugh opened #260 "Provide valid image in provider docs"
A fully-qualified image name isn't provided in the docs right now. This string "images:ubuntu/22.04" works, but just "ubuntu" doesn't.

[code]

[2022-05-08 05:13] jtopjian commented on #258
@Eihrister The "volatile" keys are used internally by LXD and they can't be set by a user. More information about that can be found here: https://linuxcontainers.org/lxd/docs/master/instances/

If you want to specify a MAC address on the interface, you'll most likely need to declare an `eth0` device within the container resource and then set the `hwaddr`. This example might help: https://github.co

[2022-05-09 11:39] Eihrister commented on #258
Hi @jtopjian!

Thank you for your answer; I used to set this volatile key through the CLI before, just as a one-off at first and somehow stuck with it.. not sure why. This is, of course, a much healthier way :)

This works fine, thanks again!

[2022-05-09 11:40] #258 closed

[2022-05-13 12:51] yahyakkhalid commented on #54
For anyone who uses VPN on the LXD server, and wants to be able to connect remotely to the created containers using Terraform, you can simply use this resource to transfer the SSH public keys to the container.

resource "lxd_container_file" "authorized-keys" {
  container_name     = "${lxd_container.CONTAINER-NAME.name}"
  target_file               = "/root/.ssh/authorized_keys"
  source

[2022-06-20 14:51] Hybrid512 opened #262 "Create images from local files"
Hi,

I'd like to create images directly with Terraform based on local qcow2 images (this is for VM provisionning).
I can easily create a new image with the lxc cli and then spawn some VMs with Terraform but I'd like to do the whole stuff directly with Terraform.
To make it clear, I'd like to do the equivalent of :

`lxc image import metadata.tar.xz jammy-server-cloudimg-amd64.img.tar.xz --alias ub

[2022-06-20 16:26] Hybrid512 opened #263 "How to add a second volume as a secondary block device inside VM ?"
Hi,

I'm trying to add a secondary volume as a block device inside my VM but I can't find a way to do it.
My only working attempts mounts a volume as a 9p mounted share which is not what I want.
Is there a way to just add a secondary block device ?
How ?

[2022-06-24 13:17] Hybrid512 opened #264 "How to add a cloud-init config disk to VMs ?"
Hi,

In our company, we build custom cloud images for reasons such as adding new tools or hardening.
For that, we base our new images on original cloud images provided by Canonical or RedHat.
I did some tests with LXD and the terraform provider and it works like a charm for Ubuntu 22.04 images but strangely, it doesn't work with 20.04.
At some point, it seems that the cloud-init part provided thro

[2022-06-29 09:49] Hybrid512 commented on #264
For those coming from Google, I answer my own question here :

resource "lxd_container" "server1" {

  name      = "server1"
  image     = "rhel-8"
  ephemeral = false

  limits = {
    cpu    = "2"
    memory = "${4 * 1024 * 1024 * 1024}"
  }

  config = {
    "agent.nic_config" = "true"
    "boot.autostart" = "true"
    "security.secureboot" = "false"
    "security.devlxd" = "true"
    "user.net

[2022-06-29 09:49] #264 closed

[2022-08-29 15:11] jtopjian commented on #260
Fixed in #265

[2022-08-29 15:11] #260 closed

[2022-10-04 15:08] mkgvt opened #269 "Error waiting for container network information"
I am having trouble getting a [simple](https://github.com/terraform-lxd/terraform-provider-lxd/files/9708011/issue.tf.txt) LXD container to work. It consistently fails after about 3m20s of "still creating...". The  [transrcript](https://github.com/terraform-lxd/terraform-provider-lxd/files/9708005/tflxd-error.txt) suggests the container times out after 3m0s waiting on the IPv4 network. Explicitly

[2022-10-14 16:05] przemolb opened #270 "Loading config file for the container failed"
Hello all,

(I am using Terraform v1.3.1)

it seems that I cannot use `terraform`'s `file` function while trying to read a file content:
[code]

[2022-10-31 21:24] Unitiser opened #272 "Segfault when using `lxd_publish_image` for a `virtual-machine` instance"
# Segfault when using `lxd_publish_image` for a `virtual-machine` instance

The `terraform-lxd/lxd` plugin segfaults when we try to publish an image for a `virtual-machine` instance.

When trying to understand the issue, I noticed that :
- The plugin crashes before the build begins
- Publishing regular container work as expected

## Sample configuration

Here is a sample configuration to reproduce

[2022-11-01 01:03] jtopjian commented on #270
I was able to get a container working with the following `lxc-config.conf` file:

[code]

I'm not sure which of the additional settings is causing the container to not be created, but this seems like it's more of an LXC configuration issue than a Terraform issue. The `file()` function seems to be working appropriately.

[2022-11-01 01:49] jtopjian commented on #272
@Unitiser #274 might fix this issue. I was able to reproduce the error you saw using containers rather than virtual machines.

I don't have experience using LXD with virtual machines, so I'm not sure if #274 will completely fix the issue you're seeing, but it might. If you know how to compile this provider from source and try it out, that would help with confirmation.

[2022-11-01 14:43] Unitiser commented on #272
@jtopjian I tested your fix. The check you added indeed fixes the nil pointer and replace the crash with a container not found error. This time, the build starts and the container is created. We still end up with the container not found error.

The function `GetContainerState` from the LXD module does not seem to return the expected result. As I am not too familiar with golang I will try to reprod

[2022-11-01 14:47] jtopjian commented on #272
@Unitiser Nice - glad to hear. I will create a new release with this fix now.

I think that this point, it might just be an ordering issue with your Terraform manifest.

With the following in mind:

[code]

Terraform does not execute in a top-down fashion. It executes in parallel, unless there are implicit or explicit dependencies between resources.

An example of an implicit dependency is:

[code

[2022-11-01 15:08] jtopjian commented on #272
Good point. If someone wanted to implement that change, I'm happy to review/merge it. Unfortunately I only have enough capacity to fix crashes at the moment.

[2022-11-01 15:12] jtopjian opened #275 "Interested in becoming an active contributor or maintainer?"
As happens with open source projects over time, the original team of developers have either moved on or no longer have enough capacity to actively work on this project.

If you're interested in becoming an active contributor or maintainer, please let us know.

[2022-11-25 18:08] #272 closed

[2022-11-29 13:00] Nuttymoon opened #277 "Unable to create a block custom volume"
LXD supports 2 types of ["custom" storage volumes](https://linuxcontainers.org/lxd/docs/master/howto/storage_volumes/#create-the-volume): `filesystem` and `block`.

When creating a volume using the [lxd_volume](https://registry.terraform.io/providers/terraform-lxd/lxd/latest/docs/resources/volume) resource of the provider, we can specify the `type = "custom"` but we cannot choose the volume `conte